html {
    background: #FAFAFA;
    color: black;
    font-weight: 700;
    letter-spacing: -0.07em;
}

.section {
    flex: 1;
    padding-top: 76px;
}

button, input {
    color: black;
    cursor:pointer;
    font-weight: 700;
    font-size: 13pt;
    letter-spacing: -0.07em;
}

table {
    width: 960px;
}

mt {
    font-weight: 700;
    font-size: 42pt;
}

submt {
    font-weight: 400;
    font-size: 14pt;
    color: #00000099;
}

submtb {
    font-weight: 600;
}

mt2 {
    font-size: 20pt;
}

.sub {
    display: grid;
    grid-template-areas: "a a";
    justify-content: center;
    grid-gap: 60px;
    grid-auto-flow: row;
}

.title {
    margin-top: 82px;
    text-align: center;
    line-height: 1.3;
}

.paddinga {
    padding: 6px 0;
}

.paddingb {
    padding: 42px 0;
}


.kakaobutton, .cafekbutton, .cafembutton, .contbutton, .purpbutton {
    width: 450px;
    height: 54px;
    margin-top: 8px;
}

.kakaobutton {
    background: #FFDAA3;
}

.cafembutton, .contbutton {
    margin-top: 12px;
}

.cafembutton, .cafekbutton {
    background: #C7DAFF;
}

.cafesbutton, .cafesfbutton {
    width: 150px;
    height: 54px;
    background: #C7DAFF;
    color: #000000B3;
    border-top: solid 2px #0000000D;
}

.cafesbutton {
    border-right: solid 2px #0000000D;
}

.cafekbutton {
    width: 450px;
}

.contbutton {
    background: #FFD4CA;
}

.purpbutton {
    background: #CDCCFF;
}

.cont, .comm {
    width: 450px;
}