@charset "UTF-8";
/*@import url('https://cdn.rawgit.com/develoid/NanumSquare/master/nanumsquare.css');*/
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after { clear: both; }

.a-style {
  text-decoration: none;
  color: #333;
}

.slogan {
  font-size: 48px;
}

.content {
  margin-top: 40px;
}

.list li {
  margin: 10px 0;
  list-style: none;
  text-align: center;
}

.contact {
  margin-top: 40px;
  font-size: 24px;
  line-height: 2em;
  text-align: center;
}

.contact-table {
  width: auto;
}

.contact-table tr,
.contact-table tr > td,
.contact-table tr:nth-child(even) > td {
  border: 0;
  background:rgba(0, 0, 0, 0);
  padding: 12px;
}

.contact-table tr:hover,
.contact-table tr > td:hover,
.contact-table tr:nth-child(even) > td:hover {
  background:rgba(0, 0, 0, 0);
}
