html {
    background: #000;
}

.view,
.write {
  background: #fff;
  width: 900px;
  margin: 10px auto;
  padding: 10px;

  border: 0;
  border-radius: 8px;
}

h3 {
  margin-top:40px;
}

.write table {
	width: 100%;
}

.write tr,
.write td,
.write th {
  text-align: center;
}

input,
textarea {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
}

textarea {
	height: 300px;
	resize: none;
}

button {
  margin-top: 40px;
  background: #FFEE58;
  border: 1px solid #aaa;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}
