@charset "UTF-8";
/*@import url('https://cdn.rawgit.com/develoid/NanumSquare/master/nanumsquare.css');*/
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);


*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after { clear: both; }

body {
  font-family: "NanumSquare", sans-serif;
  background: #FAFAFA;
  font-size: 18px;
  color: #212121;
}

a {
  text-decoration: none;
  transition: 0.5s;
  color: #212121;
}

a:hover {
  color: #0091EA;
}

input {
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

img {
  width:100%;
}

/* SRA Style DVLOPv1 */

nav,
.container,
footer {
  width:100%;
}

.container {
  margin:10px 0;
}

.nav,
.footer, {
  max-width: 1200px;
  margin: auto;
}

.nav,
.footer {
  font-weight: bold;
  text-align: center;
}

.nav {
  padding: 60px 20px;
  font-size: 36px;
}

.footer {
  padding: 20px 20px;
  font-size: 18px;
}

.list {
  max-width:1200px;
  margin:auto;
  padding:0 10px;
}

.list-box {
  max-width:1200px;
  margin:auto;
  padding:20px;
  background-color:#fff;
}

.list-box ul {
  margin:10px 20px;
}

.list-box ul li {
  margin:8px;	
}

.list-box img {
  margin-top: 20px;	
}

.list-box h3 {
  margin: 12px 0;	
}

.item {
  width: 100%
  border: 0;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  margin:10px 0;
  padding:24px 12px;
  font-size:28px;
  font-weight: bold;
}

.bgkakao { transition: 0.5s; background-color: #FFDE03;  color: #4E342E; }
.bgblue { transition: 0.5s; background-color: #2196F3;  color: #fff; }
.bggrean { transition: 0.5s; background-color: #4CAF50;  color: #fff; }
.bgred { transition: 0.5s; background-color: #F44336;  color: #fff; }
.bgindigo { transition: 0.5s; background-color: #3F51B5;  color: #fff; }
.bgblack { transition: 0.5s; background-color:#424242; color:#fff; }

.bgkakao:hover { background-color: #FF7F00;  color: #fff; }
.bgblue:hover { background-color: #0D47A1; }
.bggrean:hover { background-color: #1B5E20; }
.bgred:hover { background-color: #B71C1C;}
.bgindigo:hover { background-color: #1A237E;}
.bgblack:hover { background-color: #212121;}

@media only screen and (max-width: 1024px) {
  .item {
    font-size:18px;
  }
}

@media only screen and (max-width: 320px) {
  .item {
    font-size:16px;
  }
}
