*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after { clear: both; }

/* Body */
body {
  background: #FAFAFA;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Pretendard Variable', 'Pretendard', 'Apple SD Gothic Neo', 'Segoe UI', 'system-ui', Sans-Serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 300;
  font-size: 16px;
  color: #212121;
  letter-spacing: 0.4px;
}

a {
  text-decoration: none;
  color: #212121;
}

input {
  border-radius: 0;
  -webkit-border-radius: 0;
  -webkit-appearance: none;
}

/* Nav */
#nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #FFF;
  padding: 16px;
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Pretendard Variable', 'Pretendard', 'Apple SD Gothic Neo', 'Segoe UI', 'system-ui', Sans-Serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 16px;
}

#nav .navLeft {
  float: left;
}

#nav .navRight {
  float: right;
  /*word-spacing: 1em;*/
}

#nav .logo {
  height: 32px;
  margin-top: -2px;
  vertical-align: middle;
  transition: 0.5s;
}

#nav .navOverlay {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgba(0,0,0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}

#nav .navOverlay a {
  color: #FFF;
}

#nav .navOverlay .closeMenu {
  margin-top: 36px;
  font-size: 36px;
}

#nav .navOverlay .navOverlayContent {
  position: relative;
  top: 25vh;
  width: 100vw;
  text-align: center;
}

#nav .navOverlay .navOverlayContent li {
  margin-top: 12px;
  font-size: 36px;
}

/*
@media (max-width: 767px) {
  #nav {
    font-size: 1em;
  }
}
*/

/* main */
#main {
  width: 100vw;
}

#main h1, main h1 span {
  font-family: '-apple-system', 'BlinkMacSystemFont', 'Pretendard Variable', 'Pretendard', 'Apple SD Gothic Neo', 'Segoe UI', 'system-ui', Sans-Serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 80px;
  font-weight: 600
}

#main h1 .logo {
  width: 300px;
  margin-top: -20px;
  vertical-align: middle;
}

@media (max-width: 768px) {
  #main h1 { font-size: 36px;  }
}

@media (max-width: 320px) {
  #main h1 { font-size: 30px;  }
}

/* footer */
#footer,
#desc {
  color: #fff;
  text-align: center;
}

#footer {
  padding: 40px 0;
  background:#333;
}

#desc {
  margin-top: 80px;
  padding: 20px 0;
  background:#191919;
}

#desc a {
  padding: 0 40px;
}

#footer a,
#desc a {
  color: #fff;
  transition: 0.5s;
}

/* Content */
.itemVerticalMiddle {
  vertical-align: middle;
}

.itemCenter {
  text-align: center;
}

/* Mobile */
@media (max-width: 768px) {
  #desc a { padding: 0 16px; }
}

@media (max-width: 320px) {
  #desc a { padding: 0 8px; }
}

@media (max-width: 280px) {
  #desc a { padding: 0 4px; }
}
