.paddingfooter {
    padding: 10vh 0;
}

.footertop, .footerbot {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footertop {
    letter-spacing: -0.02em;
	width: 100%;
	height: 64px;
}

.footertop a {
    text-decoration: none;
}

.footcontent, .footcontent2 {
    display: flex;
}

.footcontent2 {
    padding: 12px 42px;
}

.footdvllogo {
    align-self: center;
	width: 132px;
	height: auto;
    margin-top: 2px;
}

.footitem {
	margin: 0 20px;
}

.footertop p1 {
    text-align: center;
    font-size: 11pt;
    font-weight: 700;
    line-height: 2;
    height: 60px;
}

.footerbot {
    letter-spacing: -.02em;
    padding: 16px 0px;
    width: 100%;
    height: auto;
}

.textarea {
    cursor: default;
    margin-left: 48px;
}

.textarea p {
    font-size: 11pt;
    font-weight: 500;
    line-height: 1.4;
    margin: 0;
}

.textarea p1 {
    font-size: 10pt;
    font-weight: 500;
    line-height: 1.6;
}

@media (prefers-color-scheme: light) {
    .footertop {
        background-color: #E3E3E3;
    }

    .footerbot {
        border-top: 2px solid #0000000E;
        background-color: #E3E3E3;
    }

    .footertop p1, .textarea p {
        color: #303030;
    }
}

@media (prefers-color-scheme: dark) {
    .footertop {
        background-color: #151515;
    }

    .footerbot {
        background-color: #191919;
    }

    .footertop p1, .textarea p {
        color: #FFF;
    }
}

html[data-theme="light"]
    .footertop {
        background-color: #E3E3E3;
    }
    html[data-theme="light"]
    .footerbot {
        border-top: 2px solid #0000000E;
        background-color: #E3E3E3;
    }
    html[data-theme="light"]
    .footertop p1{
        color: #303030;
    }
    html[data-theme="light"]
    .textarea p {
        color: #303030;
    }

html[data-theme="dark"] 
    .footertop {
        background-color: #151515;
    }
    html[data-theme="dark"] 
    .footerbot {
        background-color: #191919;
    }
    html[data-theme="dark"] 
    .footertop p1 {
        color: #FFF;
    }
    html[data-theme="dark"] 
    .textarea p {
        color: #FFF;
    }

@media screen and (max-width: 890px) {
    .footdvllogo {
        width: 116px;
    }

    .textarea p {
        font-size: 10pt; 
    }

    .textarea p1 {
        font-size: 9pt; 
    }
}

@media screen and (max-width: 790px) {
    .footcontent2 {
        display: block;
    }

    .textarea {
        margin: 16px 0 0 0;
    }

    .footerbot {
        padding: 28px 0 20px 0;
    }
}

@media screen and (max-width: 480px) {
    .footitem {
        margin: 0 16px;
    }

    .footertop p1 {
        font-size: 10pt;
    }
}