.cafe-front {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

    .cafe-front input {
        padding: 0 16px;
    }

    .cafe-front input:focus {
        background: var(--Tertiary-NotTransparent);
    }

    .cafe-front input, textarea {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
        transition: background .2s ease-out;
    }

    .cafe-front textarea {
        font-family: var(--font-sans-serif);
        font-size: var(--font-size);
        line-height: 22px;
        width: 100%;
        resize: none;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: var(--Elevated-Primary);
        color: var(--body-color);
        white-space: pre-wrap;
        overflow: hidden;
    }

        .cafe-front textarea:focus {
            outline: none;
            background: var(--Tertiary-NotTransparent);
        }

    .cafe-front td {
        padding: 0 !important;
        text-align: center;
    }

.number_top {
    width: 8%;
}

.name_top {
    width: 144px;
}

.btn_plus, .btn_minus {
    cursor: pointer;
    width: 8%;
    transition: background .2s ease-out;
}
    .btn_minus {
        border-top-right-radius: 8px;
    }

    .btn_plus:hover, .btn_minus:hover {
        background: var(--Tertiary-NotTransparent);
    }

    .btn_plus:active, .btn_minus:active {
        background: var(--Tertiary2);
    }

.imageid, .linkid {
    border: 0;
    background: transparent;
    color: var(--body-color);
    font-size: 15px;
    width: 100%;
    height: 50px;
}

.imageid2_top {
    width: 46%;
}

.linkid2_top {
    width: 30%;
}

.imageid:focus, .linkid:focus{
    outline: none;
}

.bestcopy {
    background: var(--Violet) !important;
    transition: background .2s ease-out;
}

    .bestcopy:hover {
        background: #6a2ee3 !important;
    }

    .bestcopy:active {
        background: #5926c0 !important;
    }