.cafe-front {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

    .cafe-front input {
        padding: 0;
    }

    .cafe-front input, textarea {
        -webkit-user-select: text;
        -moz-user-select: text;
        -ms-user-select: text;
        user-select: text;
    }

    .cafe-front textarea {
        font-family: var(--font-sans-serif);
        font-size: var(--font-size);
        line-height: 22px;
        width: 100%;
        resize: none;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: var(--Elevated-Primary);
        color: var(--body-color);
        white-space: pre-wrap;
        overflow: hidden;
    }

        .cafe-front textarea:focus {
            outline: none;
        }

    .cafe-front td {
        text-align: center;
    }

.number_top {
    width: 52px;
}

.name_top {
    width: 144px;
}

.name {
    padding-left: 20px !important;
    text-align: left !important;
}

.btn_plus, .btn_minus {
    width: 50px;
}

.imageid, .linkid {
    border: 0;
    background: transparent;
    color: var(--body-color);
    font-size: 15px;
    width: 100%;
}

.imageid:focus, .linkid:focus{
    outline: none;
}

.bestcopy {
    background: var(--Violet) !important;
    transition: background .2s ease-out;
}

    .bestcopy:hover {
        background: #6a2ee3 !important;
    }

    .bestcopy:active {
        background: #5926c0 !important;
    }