main {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    gap: 16px;
}

@media (max-height: 599.98px) {
    main {
        flex-direction: column !important;
        padding: 48px 16px calc(80px + env(safe-area-inset-bottom)) 16px !important;
    }

    body .h1-with-account, body .div-search {
        display: flex !important;
    }
}

@media (max-width: 767.98px) {
    main {
        flex-direction: column !important;
        padding: 48px 16px calc(80px + env(safe-area-inset-bottom)) 16px !important;
    }

    body .h1-with-account, body .div-search {
        display: flex !important;
    }
}

@media (max-width: 1279.98px) {
    main {
        flex-direction: row;
        padding: 48px 16px;
    }

    body .h1-with-account, body .div-search {
        display: none;
    }

    .Activity {
        padding-top: 0 !important;
    }
}

@media (min-width: 1280px) {
    main {
        width: 1120px;
        padding-top: 134px !important;
        flex-direction: column !important;
    }
}

.h1-with-account {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    padding: 0;
    margin-bottom: 8px;
}

@media (min-width: 1280px) {
    .h1-with-account {
        margin-bottom: 44px;
    }
}

.Activity {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex: 1 0 0px;
    position: relative;
    gap: 24px;
}

.text {
    width: 100%;
    height: min-content;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: visible;
    position: relative;
    padding: 0;
    gap: 6px;
}

    .text-column {
        flex-direction: column;
        align-items: flex-start;
    }

    .text-row {
        flex-direction: row;
        align-items: center;
    }

    .text h3 {
        color: var(--Develoid);
        transition: opacity .2s ease-out;
    }

        .text h3:active {
            opacity: .4;
        }