/* search in home */
.search {
    --bs-btn-bg: #2c2c2c;
    --bs-btn-border-color: #00000000;
    --bs-btn-hover-bg: #333;
    --bs-btn-hover-border-color: #00000000;
    --bs-btn-active-bg: #333;
    --bs-btn-active-border-color: #00000000;
    --bs-btn-disabled-bg: #202020;
    --bs-btn-disabled-border-color: #00000000;
    border-radius: 12px;
    color: #FFF;
    z-index: 2500;
}

.search:focus {
    border: 0;
}

/* search wrap */
.search-wrap {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: -100%;
    z-index: 2000;
}

.search-wrap.on {
    bottom: 0px;
}

#search-wrap-bg {
    background-color: #17171733;
    animation: fadein .2s;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

/* mobile */
.input-mainsearch {
    position: absolute;
    background-color: #202020;
    color: #FFF;
    padding: 0;
    font-size: 1.3rem;
    width: calc(100% - 72px);
    height: 72px;
    top: 0;
    left: 72px;
    border: 1px solid #fff; 
    border-left: 0;
    border-right: 0;
    border-top: 0;
}

input:focus {
    outline: none;
}

.input-iconsearch {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: absolute;
    background-color: #202020;
    color: #FFF;
    width: 72px;
    height: 72px;
    top: 0;
    left: 0;
    border: 1px solid #fff; 
    border-left: 0;
    border-right: 0;
    border-top: 0;
}