/** Root **/
:root {
    --bs-font-sans-serif: "Pretendard Variable", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-color: #fff;
    --bs-body-bg: #111;
    --bs-border-color: #ffffff33;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.3);
    --bs-link-color: #f0f0f0;
    --bs-link-hover-color: #fff;
}

*,
*::before,
*::after {
  word-break: keep-all;
}

/* background */
#full, #full-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  min-height: calc(100vh);
}

#full-img {
  background-image: url(/dvl_c/img/dark.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  width: 1280px;
}

@media (max-width: 1199.98px) {
  .container {
      width: 920px;
  }
}

@media (max-width: 1023.98px) {
  .container {
      width: 640px;
  }
}

@media (max-width: 767.98px) {
  .container {
      width: 88%;
  }
}

/* text */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -.8pt;
}

p {
  letter-spacing: -.2pt;
  margin: 0;
}

a {
    text-decoration: none;
}

/* button */
.btn {
    --bs-btn-font-weight: 600;
}

.btn-primary {
    --bs-btn-bg: #2c2c2c;
    --bs-btn-border-color: #00000000;
    --bs-btn-hover-bg: #333;
    --bs-btn-hover-border-color: #00000000;
    --bs-btn-active-bg: #333;
    --bs-btn-active-border-color: #00000000;
    --bs-btn-disabled-bg: #202020;
    --bs-btn-disabled-border-color: #00000000;
}

/* substitution */
.px-4 {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important;
}

.py-5 {
  padding-top: 2.5rem !important;
  padding-bottom: 2.5rem !important;
}

.fs-7 {
  font-size: .9rem !important;
}

.btn-full {
  width: 100%;
}

.btn-half {
  width: calc(50% - 6.0001px);
}

.m-btn-half-left {
  margin-right: 4px !important;
}

.m-btn-half-right {
  margin-left: 4px !important;
}


/* Header */
header {
    display: flex;
    align-items: center;
    position: fixed;
    background-color: #1111111e;
    transition: top .1s ease-in-out;
    width: 100%;
    height: 72px;
    top: 0;
    z-index: 1000;
}

.head-item {
    color: #ffffffc0 !important;
    font-size: .9rem;
    font-weight: 500;
}

.head-item:hover {
    color: #e3e3e3 !important;
    font-weight: 600;
}

.btn-login {
    --bs-btn-bg: #2c2c2c;
    --bs-btn-border-color: #00000000;
    --bs-btn-hover-bg: #333;
    --bs-btn-hover-border-color: #00000000;
    --bs-btn-active-bg: #333;
    --bs-btn-active-border-color: #00000000;
    --bs-btn-disabled-bg: #202020;
    --bs-btn-disabled-border-color: #00000000;
    border-radius: 4rem;
    color: #FFF;
    width: 62px;
    height: 36px;
    font-size: 10pt;
    line-height: 0;
}

/* responsive */
.desktop {
  display: flex;
}

.mobile {
  display: none;
}

.mobile > i {
  margin-top: .1rem;
  font-size: 1.5rem;
  z-index: 2000;
  margin-left: 16px;
}

@media (max-width: 1023.98px) {
  .mobile {
      display: flex;
  }

  .desktop, .home-input-search{
      display: none !important;
  }
}

/* mobile wrap */
.mobile-wrap {
    position: fixed;
    width: 100%;
    height: 290px;
    bottom: -100%;
    z-index: 500;
}

.mobile-wrap.on {
    bottom: 0px;
}

.head-shortcut-info {
    position: absolute;
    width: 100%;
    bottom: 3rem;
    right: 0;
    left: 0;
}

.head-shortcut-info i {
    opacity: .6;
}

.head-shortcut-info-name {
    margin-left: 8px;
    margin-top: 4px;
    width: auto;
}

.head-shortcut-info-login-status {
}

.head-shortcut-list {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #202020;
    border-radius: 8px;
    padding: 1.8rem;
}

.head-shortcut-item {
    list-style: none;
    text-align: center;
    color: #FFF;
    font-weight: 500;
    width: 64px;
    height: auto;
    margin: 0 .4rem;
}

.head-shortcut-item img {
    width: 56px;
    height: 56px;
}

.head-shortcut-text {
    font-size: .8rem;
    margin-top: 10px;
}

#mobile-wrap-bg {
    background-color: #171717;
    animation: fadein .2s;
    backdrop-filter: blur(10px);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 400;
}
@keyframes fadein {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

@media (min-width: 1024px) {
    .mobile-wrap, #mobile-wrap-bg {
        display: none;
    }
}

@media (max-width: 540px) {
    .mobile-wrap {
        height: 424px !important;
    }

    .head-shortcut-list {
        flex-flow: row wrap;
        justify-content: space-between;
        align-content: space-around;
        box-sizing: border-box;
        padding: 8% 12%;
    }

    .head-shortcut-item {
        border-radius: 8px;
        font-size: 12pt;
        font-weight: 700;
        width: auto;
        height: 100%;
        margin: 22px 28px;
    }

    .head-shortcut-item img {
      width: 64px;
      height: 64px;
    }
}

@media (max-width: 404px) {
  .mobile-wrap {
      height: 364px !important;
  }

  .head-shortcut-list {
      padding: 8% 12%;
  }

  .head-shortcut-item {
      margin: 22px 18px;
  }

  .head-shortcut-item img {
      width: 48px;
      height: 48px;
  }

  .head-shortcut-text {
      font-size: .7rem;
  }

  .head-shortcut-info-name {
      font-size: 1rem;
  }

  .head-shortcut-info-login-status {
      font-size: .8rem;
      height: 32px;
  }
}



/* Main Section
main {
    margin-top: 72px;
}
*/


/* Footer */
footer {
    padding: 3rem 0;
    background-color: #171717;
}

.foot-item, .foot-copy {
  color: #ffffff90 !important;
  font-size: 10pt;
  font-weight: 350;
}

.foot-item {
    display: flex;
    flex-direction: column;
    width: 0;
    margin-bottom: .8rem;
    opacity: .9;
}
  
.foot-item:hover {
    color: #d6d6d6 !important;
    font-weight: 500;
}

.foot-copy {
  margin-top: 24px;
}

@media (min-width: 768px) {
  .foot-item {
    flex-direction: row;
    width: auto;
    margin: 0 1.2rem 0 0;
  }
}



/* Card */
.card {
  --bs-card-spacer-y: 1.2rem;
  --bs-card-spacer-x: 1.4rem;
  --bs-card-border-width: 0px;
  --bs-card-border-color: var(--bs-border-color-translucent);
  --bs-card-border-radius: 0.375rem;
  --bs-card-inner-border-radius: calc(0.375rem - 1px);
  --bs-card-bg: #202020;
}

.btn-card {
  height: 3.2rem;
  margin: 8px 0;
}

.card-title-notice {
  font-size: 1.4rem;
}

.card-title-in-img {
  position: absolute;
  margin: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

@media (max-width: 1199.98px) {
  .btn-card {
    font-size: .9rem;
  }
}

@media (max-width: 1023.98px) {
  .col-sm-12 {
    width: 100%;
  }
}
/* End */