.error > i {
    font-size: 56px;
    margin-bottom: -8px;
}

.modal {
    width: 260px;
    text-align: center;
    border-radius: 16px;
    background: var(--Seperated-Transparent);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 24px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 15;
    opacity: 1;
    animation-duration: .5s;
    animation-name: fade-modal;
    box-shadow: 0 8px 16px var(--Tertiary);
}
@keyframes fade-modal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.modal-text-parent, .modal-btn-parent {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media (max-width: 380.98px) {
    .modal {
        width: 220px !important;
        gap: 24px !important;
    }
}

@media (max-width: 1279.98px) {
    .modal {
        gap: 24px;
    }
}

@media (min-width: 1280px) {
    .modal {
        width: 280px !important;
        gap: 28px !important;
    }

    .modal-text-parent, .modal-btn-parent {
        gap: 14px !important;
    }
}

.modal-bg {
    background: var(--Tertiary);
    backdrop-filter: blur(8px);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 14;
    animation-duration: 1s;
    animation-name: fade-modal-bg;
}
@keyframes fade-modal-bg {
    from {
        background: transparent;
        backdrop-filter: blur(0px);
    }
    to {
        background: var(--Tertiary);
        backdrop-filter: blur(8px);
    }
}

.modal-btn-A {
    cursor: pointer;
    background: var(--Elevated-Secondary);
    box-shadow: 0 8px 16px var(--Tertiary);
    padding: 10px;
    border-radius: 8px;
    transition: background .2s ease-out;
}

    .modal-btn-A:hover {
        background: var(--Elevated-Quaternary);
    }

    .modal-btn-A:active {
        background: var(--Elevated-Quinary);
    }

    .modal-develoid {
        background: var(--Develoid);
        color: var(--white);
    }

    .modal-develoid:hover {
        background: #1d79ea;
    }

    .modal-develoid:active {
        background: #196bcf;
    }