.section {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

button {
    cursor: pointer;
    border-radius: 80px;
    font-size: .85em;
    width: 18rem;
    height: 3rem;
    /* color: #303030; */
    transition: .3s;
}

.title {
    line-height: 1.4;
    margin: 14px;
}

.title h1 {
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: -.01em;
    margin: 0;
}

.title h2 {
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: -.04em;
    margin: 0;
}

.title p {
    font-size: .8em;
    font-weight: 700;
    opacity: 50%;
    margin: 16px 0 0 0;
}

.cont {
    padding: 14px;
    width: 18rem;
}

.cont p {
    text-align: center;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .02em;
    opacity: 80%;
    margin-top: 0;
}

.mainbutton_top, .mainbutton {
    background-color: #333333;
    box-shadow:  4px 4px 8px #FFFFFF4D,
    -4px -4px 8px #FFFFFF4D;
}

.mainbutton {
    margin-top: 16px;
}

.mainbutton_top:hover, .mainbutton:hover {
	background-color: #404040;
}

.history_back {
    background-color: #923636;
    box-shadow:  4px 4px 8px #FFFFFF4D,
    -4px -4px 8px #FFFFFF4D;
    position: fixed;
    font-size: .7em;
    bottom: 48px;
    width: 4.6rem;
    height: 2.4rem;
}

.history_back:hover {
    background-color: #A04343;
}


/* 직접 뷰포트 맞춰가면서 사이즈 대응 */

@media screen and (max-width: 960px) {
    .section {
        flex-direction: column;
        justify-content: center;
    }

    .title {
        text-align: center;
    }
}

@media screen and (max-width: 960px) and (min-height: 496px) { 
    .title p {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 960px) and (max-height: 700px) {
    .history_back {
        display: none;     
    }
}

@media screen and (min-width: 890px) and (max-height: 496px) {
    .section {
        flex-direction: row;
        justify-content: space-around;
    }

    .title {
        text-align: left;
    }

    .history_back {
        display: none;     
    }
}

@media screen and (max-width: 890px) and (max-height: 496px) {
    .section {
        flex-direction: column;
        justify-content: center;
    }

    .title {
        display: none;     
    }

    button {
        font-size: .7em;
        width: 15rem;
        height: 2.4rem;
    }

    .cont {
        width: 15rem;
    }
}

@media screen and (max-width: 890px) and (max-height: 300px) {
    .cont {
        width: 12rem;
    }

    button {
        width: 12rem;
        height: 2rem;
    }
}


@media screen and (max-width: 530px) {
    .title h1 {
        font-size: 1.9em;
    }
}

@media screen and (max-width: 430px) {
    .title h1 {
        font-size: 1.8em;
    }

    button, .cont {
        width: 15rem;
    }

    button {
        font-size: .8em;
        height: 2.6rem;
    }
}

@media screen and (max-width: 320px) and (max-height: 636px) {
    .title h1 {
        font-size: 1.4em;
    }

    button, .cont {
        width: 12rem;
    }

    button {
        font-size: .75em;
        height: 2.2rem;
    }
}