#main {
  display: table;
  padding: 60px 10px;
}

#main {
  min-height: 30vh;
}

#item {
  width: 100vw;
  display: table-cell;
}

.search {
  margin-bottom: 80px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 8px;
}

/* Content */
.container {
  margin-top: 80px;
  min-height: 60vh;
}

.searchInput,
.categoryList li,
.searchResults li,
.postsList li,
.error .box,
.btn,
.abox {
  padding:16px 48px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.searchInput {
  width:100%;
  border: 0;
  /*border: 1px solid #dedede;*/
  border-radius: 4px; /* radius */
  background: #fff;
  transition: 0.5s;
  font-size: 20px;
}

.searchInput:hover,
.searchInput:focus,
.searchInput:active {
  /*border: 1px solid #FF7477;*/
  box-shadow: 2px 2px 4px #FFAD93;
}

.categoryList,
.searchResults {
  margin: 16px 0;
}

.categoryList li,
.searchResults li,
.postsList li,
.content,
.error .box,
.btn,
.abox {
  /*order: 1px solid #dedede;*/
  border-radius: 4px; /* radius */
  background: #fff;
}

.categoryList li,
.searchResults li,
.postsList li,
.btn,
.abox  {
  list-style: none;
  margin: 8px 0;
  transition: 0.5s;
}

.categoryList li:hover,
.searchResults li:hover,
.postsList li:hover,
.btn:hover {
  /*border: 1px solid #FF7477;*/
  color: #FF7477;
  box-shadow: 2px 2px 4px #FFAD93;
}

.btn {
  margin-top: 24px;
  font-family: Core7;
}

.content {
  margin: 4px 0;
  padding:24px;
  min-height: 400px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.categoryTitle {
  font-size: 34px;
  margin-bottom: 12px;
  padding: 12px 24px;
  background: #FF7477;
  border-radius: 4px; /* radius */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  color: #fff;
  transition: 0.5s;
}

.categoryTitle:hover {
  color: #212121;
  background: #FFAD93;
  box-shadow: 0 2px 4px 0px #FFAD93;
}

.content .pageTitle {
  font-size: 34px;
  padding: 8px 16px;
  border-left: 12px solid #FF7477;
  border-bottom: 0;
}

/* HR Line */
.pageHr {
  margin: 24px 0;
  border: 0;
  height: 1px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
}

.postHr {
  margin: 24px 0;
  border: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}

.tempHR {
  margin: 36px 0;
  border: 0;
  height: 0;
}

/* 404 */
.error {
  text-align: center;
  margin-top: -40px;
  font-weight: bold;
}

.error .icon {
  font-size: 256px;
  color: #f00;
}

.error .box {
  padding: 16px;
  max-width: 400px;
  margin: 0 auto;
}

.error .box .code {
  color: #f00;
}

/* Edit Style */

code.highlighter-rouge {
  padding: 2px 8px;
  border: 0;
  border-radius: 4px; /* radius */
  color: #fff;
  background: #FF7477;
}

.content .highlight pre {
  margin: 20px 0;
  padding: 12px;
  border:0;
  border-radius: 4px; /* radius */
  background: #ECEFF1;
  color: #212121;
  white-space: pre-wrap;
}

.content a {
  padding: 4px;
  color: #FF7477;
  transition: 0.5s;
}

.content a:hover {
  background: #FFAD93;
  border-radius: 4px; /* radius */
  color: #212121;
}

.content h1 {
  font-size: 30px;
  margin: 4px 0 16px;
  padding: 8px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content h2 {
  font-size: 26px;
  margin: 4px 0 16px;
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.content h3 {
  margin: 4px 0 16px;
  padding: 4px 10px;
  font-size: 22px;
}

.content h4 {
  margin: 4px 0 16px;
  padding: 2px 10px;
  font-size: 18px;
}

.content h5 {
  padding: 2px 10px;
  font-size: 16px;
}

.content h6 {
  padding: 2px 10px;
  font-size: 14px;
}

.content img {
  max-width: 100%;
  margin: 16px auto;
  border: 0;
  border-radius: 4px; /* radius */
  display: block;
}

.content del {
  color: #BDBDBD;
  text-decoration:line-through;
}

.content p {
  margin: 16px 16px 32px;
}

.content ul,
.content ol {
  margin: 16px 0 16px 32px;
}

.content ul li,
.content ol li {
  margin: 16px 0;
}

.content blockquote {
  margin: 16px 4px;
  padding: 12px 8px;
  border-left:6px solid #FF7477;
}
.content blockquote p { word-break:break-all; }
.content blockquote ol,
.content blockquote ul {
  margin-left:24px;
}

.content hr {
  border: 0;
  border-bottom: 1px dashed #ccc;
}

.content table {
  width:100%;
  border-radius: 4px; /* radius */
  border-collapse: collapse;
}

.content th {
  background: #CFD8DC;
}

.content th,
.content td {
  padding:12px;
  border:1px solid #ffffff;
}

.content tr{
  background: #FAFAFA;
}

.content tr:nth-child(even) {
  background: #ECEFF1;
}

.ruleTitle,
.ruleH2 {
  background:#FF7477;
  color:#fff;
  text-align:center;
  border-radius: 4px; /* radius */
}


/* Phone */
@media screen and (max-width: 1199px) {
  /*
  .nav,
  .container,
  .footer {
    margin-left: 8px;
    margin-right: 8px;
  }
  */
  .searchInput,
  .categoryList li,
  .searchResults li,
  .postsList li,
  .btn {
    padding:16px 24px;
  }

  .content {
    padding:16px 12px;
  }

  .content img {
    width: 100%;
  }
}
