@font-face {
    font-family: 'JetBrains Mono';
    src: url('../../../asset/font/JetBrainsMono-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

button {
    cursor: pointer;
    border-radius: 8px;
    font-size: .85em;
    width: 18rem;
    height: 3rem;
    transition: .3s;
}

.title, .title_dvl {
    cursor: default;
    line-height: 1.4;
    margin: 14px;
}

.title h1 {
    font-size: 2.2em;
    font-weight: 800;
    letter-spacing: -.04em;
    margin: 0;
}

.title h2 {
    font-size: 2.2em;
    font-weight: 700;
    letter-spacing: -.01em;
    margin: 0;
}

.title_dvl h1 {
    font-size: 2.6em;
    font-weight: 800;
    letter-spacing: 0;
    margin: 0;
}

.title_dvl h2 {
    font-size: 1.6em;
    font-weight: 700;
    letter-spacing: .04em;
    opacity: 80%;
    margin: 0;
}

.title p {
    font-size: .8em;
    font-weight: 700;
    opacity: 50%;
    margin: 16px 0 0 0;
}

.title_dvl p {
    font-family: 'JetBrains Mono';
    font-size: .8em;
    font-weight: 700;
    letter-spacing: -.05em;
    opacity: 100%;
    margin: 16px 0 0 0;
}

.cont {
    padding: 14px;
    width: 18rem;
}

.cont p {
    text-align: center;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .02em;
    opacity: 80%;
    margin-top: 0;
}

.mail {
    display: none;
}

.mail.on {
    display: flex;
}

.mbtn, .mbtn_ttop {
    position: relative;
    border-radius: 8px;
    border: 0;
    z-index: 20;
}

.mbtn_top {
    margin-top: 0px;
}

.mbtn, .mbtn_ttop {
    margin-top: 16px;
}

.mbtn_ttop.on {
    position: relative;
    border-radius: 8px 8px 0 0;
    z-index: 10;
}

.mbtn_tbotleft, .mbtn_tbotmid, .mbtn_tbotright {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: .75em;
}

.mbtn_tbotleft {
    border-radius: 0 0 0 8px;
    z-index: 2;
}

.mbtn_tbotmid {
    border-radius: 0;
    z-index: 1;
}

.mbtn_tbotright {
    border-radius: 0 0 8px 0;
    z-index: 0;
}

.history_back {
    position: fixed;
    font-size: .7em;
    bottom: 48px;
    width: 4.6rem;
    height: 2.4rem;
}

@media (prefers-color-scheme: light) {
    .mbtn_top, .mbtn, .mbtn_ttop, .mbtn_ttop.on, .mbtn_tbotleft, .mbtn_tbotmid, .mbtn_tbotright {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }

    .mbtn_top:hover, .mbtn:hover, .mbtn_ttop:hover, .mbtn_tbotleft:hover, .mbtn_tbotmid:hover, .mbtn_tbotright:hover {
        background-color: #E4E4E4;
    }

    .command {
        color : #1E2D5F;
    }
    
    .it {
        color: #803F94;
    }
    
    .bracket {
        color: #499846;
    }
    
    .develoid {
        color: #9B1E23;
    }

    .error_html {
        color: #5b2396;
    }
    
    .history_back {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    
    .history_back:hover {
        background-color: #E4E4E4;
    }
}

@media (prefers-color-scheme: dark) {
    .mbtn_top, .mbtn, .mbtn_ttop, .mbtn_ttop.on, .mbtn_tbotleft, .mbtn_tbotmid, .mbtn_tbotright {
        background-color: #333;
        box-shadow: none;
    }

    .mbtn_ttop.on {
        border-bottom: 2px solid #FFFFFF1A;
    }

    .mbtn_tbotmid {
        border-left: 2px solid #FFFFFF0D;
        border-right: 2px solid #FFFFFF0D;
    }

    .mbtn_top:hover, .mbtn:hover, .mbtn_ttop:hover, .mbtn_tbotleft:hover, .mbtn_tbotmid:hover, .mbtn_tbotright:hover {
        background-color: #404040;
    }

    .command {
        color : #9AD5F4;
    }
    
    .it {
        color: #BC82B6;
    }
    
    .bracket {
        color: #945191;
    }
    
    .develoid {
        color: #C88D75;
    }

    .error_html {
        color: #a389eb;
    }
    
    .history_back {
        background-color: #333;
        box-shadow: none;
    }
    
    .history_back:hover {
        background-color: #404040;
    }
}

html[data-theme="light"]
    .mbtn_top {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn_ttop {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn_ttop.on {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn_tbotleft {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn_tbotmid {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn_tbotright {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .mbtn_top:hover {
        background-color: #E4E4E4;
    }
    html[data-theme="light"]
    .mbtn:hover {
        background-color: #E4E4E4;
    }
    html[data-theme="light"]
    .mbtn_ttop:hover {
        background-color: #E4E4E4;
    }
    html[data-theme="light"]
    .mbtn_tbotleft:hover {
        background-color: #E4E4E4;
    }
    html[data-theme="light"]
    .mbtn_tbotmid:hover {
        background-color: #E4E4E4;
    }
    html[data-theme="light"]
    .mbtn_tbotright:hover {
        background-color: #E4E4E4;
    }
    html[data-theme="light"]
    .command {
        color : #1E2D5F;
    }
    html[data-theme="light"]
    .it {
        color: #803F94;
    }
    html[data-theme="light"]
    .bracket {
        color: #499846;
    }
    html[data-theme="light"]
    .develoid {
        color: #9B1E23;
    }
    html[data-theme="light"]
    .error_html {
        color: #5b2396;
    }
    html[data-theme="light"]
    .history_back {
        background-color: #ECECEC;
        box-shadow: 4px 4px 8px #D4D4D4,
        -4px -4px 8px #FFF;
    }
    html[data-theme="light"]
    .history_back:hover {
        background-color: #E4E4E4;
    }
    

html[data-theme="dark"]
    .mbtn_top {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn_ttop {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn_ttop.on {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn_tbotleft {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn_tbotmid {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn_tbotright {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .mbtn_top:hover {
        background-color: #404040;
    }
    html[data-theme="dark"]
    .mbtn:hover {
        background-color: #404040;
    }
    html[data-theme="dark"]
    .mbtn_ttop:hover {
        background-color: #404040;
    }
    html[data-theme="dark"]
    .mbtn_tbotleft:hover {
        background-color: #404040;
    }
    html[data-theme="dark"]
    .mbtn_tbotmid:hover {
        background-color: #404040;
    }
    html[data-theme="dark"]
    .mbtn_tbotright:hover {
        background-color: #404040;
    }
    html[data-theme="dark"]
    .mbtn_ttop.on {
        border-bottom: 2px solid #FFFFFF1A;
    }
    html[data-theme="dark"]
    .mbtn_tbotmid {
        border-left: 2px solid #FFFFFF0D;
        border-right: 2px solid #FFFFFF0D;
    }
    html[data-theme="dark"]
    .command {
        color : #9AD5F4;
    }
    html[data-theme="dark"]
    .it {
        color: #BC82B6;
    }
    html[data-theme="dark"]
    .bracket {
        color: #945191;
    }
    html[data-theme="dark"]
    .develoid {
        color: #C88D75;
    }
    html[data-theme="dark"]
    .error_html {
        color: #a389eb;
    }
    html[data-theme="dark"]
    .history_back {
        background-color: #333;
        box-shadow: none;
    }
    html[data-theme="dark"]
    .history_back:hover {
        background-color: #404040;
    }

@media screen and (max-width: 960px) {
    .title, .title_dvl {
        text-align: center;
    }
}

@media screen and (max-width: 960px) and (min-height: 496px) { 
    .title p, .title_dvl p {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 960px) and (max-height: 700px) {
    .history_back {
        display: none;     
    }
}

@media screen and (min-width: 890px) and (max-height: 496px) {
    .title, .title_dvl {
        text-align: left;
    }

    .history_back {
        display: none;     
    }
}

@media screen and (max-width: 890px) and (max-height: 496px) {
    .title, .title_dvl {
        text-align: center;
        margin: 14px 0 12px 0;        
    }

    .title h1, .title_dvl h1, .title h2, .title_dvl h2 {
        display: none;     
    }

    .title p, .title_dvl p {
        margin-top: 0;
    }

    .cont {
        width: 15rem;
    }

    .mbtn_tbotleft, .mbtn_tbotmid, .mbtn_tbotright {
        font-size: .6em;
    }
}

@media screen and (max-width: 890px) and (max-height: 300px) {
    .title p, .title_dvl p {
        font-size: .7em;
    }

    .cont {
        width: 12rem;
    }
}

@media screen and (max-height: 630px) {
    .header {
        display: none !important;
    }
}

@media screen and (max-width: 530px) {
    .title h1, .title h2 {
        font-size: 1.9em;
    }

    .title_dvl h1 {
        font-size: 2.3em;
    }

    .title_dvl h2 {
        font-size: 1.3em;
    }

    .title p, .title_dvl p {
        font-size: .7em;
    }
}

@media screen and (max-width: 430px) {
    .title h1, .title h2 {
        font-size: 1.8em;
    }

    .title_dvl h1 {
        font-size: 2.2em;
    }

    .title_dvl h2 {
        font-size: 1.2em;
    }

    .title p, .title_dvl p {
        font-size: .7em;
    }

    .cont {
        width: 15rem;
    }

    .mbtn_tbotleft, .mbtn_tbotmid, .mbtn_tbotright {
        font-size: .6em;
    }
}

@media screen and (max-width: 320px) and (max-height: 636px) {
    .header {
        display: flex !important;
    }

    .title h1, .title h2 {
        font-size: 1.4em;
    }

    .title_dvl h1 {
        font-size: 1.8em;
    }

    .title_dvl h2 {
        font-size: .8em;
    }

    .title p, .title_dvl p {
        font-size: .6em;
    }

    .cont {
        width: 12rem;
    }

    .mbtn_tbotleft, .mbtn_tbotmid, .mbtn_tbotright {
        font-size: .5em;
    }
}