html {
    background: #333;
}

h1 {
  display: block;
  font-size: 2.2em;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.container {
  width: 900px;
  margin: 0 auto;
  padding-top: 1px;
  padding-bottom: 20px;
  background: #fafafa;
}

.write,
.out {
  width: 836px;
  margin: 20px auto;
  background: #fafafa;
}

table {
  width: 100%;
}

input {
  width: 95%;
  padding: 6px;
  border: 1px solid #DDD;
}

button {
  padding: 6px;
  border: 0px solid #fafafa;
  border-radius: 4px;
}

.btn_interface {
  text-align: center;
  margin: 10px 0 20px;
}

.out {
  text-align: center;
  padding: 20px 0 0;
}

textarea {
  width: 97%;
  height: 200px;
  margin: 10px 0;
  border: 1px solid #DDD;
  padding: 8px;
  resize: none;
}

.view {
  width: 836px;
  margin: 5px auto;
}
