html {
    background-color: #ECECEC;
    color: #303030;
}

.section {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-bottom: -20vh;
}

button {
    cursor: pointer;
    border-radius: 8px;
    width: 18rem;
    height: 3rem;
    color: #303030;
    font-size: .85em;
    transition: .3s;
}

.title {
    margin: 14px;
}

.title h1 {
    font-weight: 700;
    font-size: 2.2em;
    margin: 0;
    letter-spacing: -.06em;
}

.title p {
    margin-top: 16px;
    margin-bottom: 0;
    font-weight:700;
    font-size: .8em;
    opacity: 50%;
}

.cont {
    width: 18rem;
    padding: 14px;
}

.mainbutton_top {
    background-color: #ECECEC;
    box-shadow:  4px 4px 8px #D4D4D4,
    -4px -4px 8px #FFF;
}

.mainbutton, .mainbutton_tabletop {
    margin-top: 16px;
    background-color: #ECECEC;
    box-shadow:  4px 4px 8px #D4D4D4,
    -4px -4px 8px #FFF;
}

.mainbutton_tabletop {
    border-radius: 8px;
    border: 0;
    z-index: 20;
    position: relative;
    box-shadow:  4px 4px 8px #D4D4D4,
    -4px -4px 8px #FFF;
}

.mainbutton_tabletop.on {
    border-radius: 8px 8px 0 0;
    z-index: 10;
    position: relative;
    box-shadow:  4px 4px 8px #D4D4D4,
    -4px -4px 8px #FFF;
}

.mail {
    display: none;
}

.mail.on {
    display: flex;
}

.mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
    background-color: #ECECEC;
    box-shadow:  4px 4px 8px #D4D4D4,
    -4px -4px 8px #FFF;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: #303030;
    font-size: .75em;
    position: relative;
}

.mainbutton_tablebotleft {
    border-radius: 0 0 0 8px;
    z-index: 2;
}

.mainbutton_tablebotmid {
    border-radius: 0;
    z-index: 1;
}

.mainbutton_tablebotright {
    border-radius: 0 0 8px 0;
    z-index: 0;
}

.mainbutton_top:hover, .mainbutton:hover, .mainbutton_tabletop:hover, .mainbutton_tablebotleft:hover, .mainbutton_tablebotmid:hover, .mainbutton_tablebotright:hover {
	background-color: #e4e4e4;
}

@media screen and (max-width: 960px) {
    .section {
        justify-content: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
    }
}
@media screen and (max-width: 960px) and (min-height: 496px) {
    .title p {
        margin-bottom: 32px;
    }
}

@media screen and (max-height: 630px) {
    .header {
        display: none !important;
    }
}

@media screen and (min-width: 890px) and (max-height: 496px) {
    .section {
        justify-content: space-around;
        flex-direction: row;
    }

    .title {
        text-align: left;
    }
}

@media screen and (max-width: 890px) and (max-height: 496px) {
    .title h1 {
        display: none;
    }

    .section {
        justify-content: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
        margin: 14px 0 12px 0;        
    }

    .title p {
        margin-top: 0;
    }

    button {
        width: 15rem;
        height: 2.4rem;
        font-size: .7em;
    }

    .cont {
        width: 15rem;
    }

    .mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
        font-size: .6em;
    }
}


@media screen and (max-width: 890px) and (max-height: 300px) {
    .title p {
        font-size: .7em;
    }

    .cont {
        width: 12rem;
    }

    button {
        width: 12rem;
        height: 2rem;
    }
}


@media screen and (max-width: 530px) {
    .title h1 {
        font-size: 1.9em;
    }

    .title p {
        font-size: .7em;
    }
}

@media screen and (max-width: 430px) {
    .title h1 {
        font-size: 1.8em;
    }

    .title p {
        font-size: .7em;
    }

    button, .cont {
        width: 15rem;
    }

    button {
        height: 2.6rem;
        font-size: .8em;
    }

    .mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
        font-size: .6em;
    }
}

@media screen and (max-width: 320px) and (max-height: 636px) {
    .header {
        display: flex !important;
    }

    .title h1 {
        font-size: 1.4em;
    }

    .title p {
        font-size: .6em;
    }

    button, .cont {
        width: 12rem;
    }

    button {
        height: 2.2rem;
        font-size: .75em;
    }

    .mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
        font-size: .5em;
    }
}