html {
    letter-spacing: -0.05em;
}

body {
    align-items: center;
}

.section {
    display: initial !important;
    margin: 120px 0 0 0 !important;
    padding-bottom: 262px !important;
    height: auto !important;
}

.section2 {
    display: initial !important;
    margin: 96px 0 116px 0 !important;
    height: auto !important;
}

button, input {
    font-size: .8em;
    letter-spacing: -0.05em;
}

button {
    justify-content: center;
}

input {
    font-weight: 500 !important;
}

table {
    text-align: center;
    width: 960px;
}

td, tr {
    padding: 0;
}

intro_number {
    cursor: default;
    font-weight: 700;
    font-size: 60pt;
}

.title {
    cursor: default;
    line-height: 1.4;
    text-align: center;
}

.title h1 {
    font-size: 2.6em;
    font-weight: 800;
    margin-bottom: 32px;
}

.title h2 {
    font-size: 1.5em;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 24px;
}

table_title {
    line-height: 2;
    font-size: .8em;
    font-weight: 700;
}

.btn_copy, .btn_save, .btn_load, .btn_gate {
    line-height: 2;
    font-size: .8em;
    font-weight: 700;
}

table_number {
    font-size: 1.6em;
}

.padding {
    padding: 16px 0;
}

.padding2 {
    padding: 48px 0;
}

.number {
    font-weight: 700;
    height: 64px;
    width: 64px;
}

.imageid, .imageid_base {
    height: 64px;
    padding: 0 16px;
}

.imageid {
    width: 310px;
}

.imageid_base {
    width: 208px;
}

.linkid, .linkid_event_A, .linkid_base {
    height: 64px;
    padding: 0 16px;
}

.linkid {
    width: 522px;
}

.linkid_event_A {
    width: 394px;
}

.linkid_base {
    width: 208px;
}

.btn_up, .btn_down, .btn_copy, .btn_save, .btn_load, .btn_gate {
    cursor: pointer;
    height: 64px;
}

.make {
    z-index: 10;
}

.btn_up, .btn_down {
    width: 64px;
}

.btn_plus, .btn_minus {
    cursor: pointer;
    width: 64px;
    height: 42px;
}

.btn_save, .btn_load {
    width: 120px;
    height: 52px;
    font-size: 11pt;
}

.make {
    position: fixed;
    width: 486px;
    bottom: 76px;
}

.btn_copy {
    width: 240px;
    height: 52px;
    font-size: 11pt;
}

.btn_gate {
    width: 484px;
    height: 52px;
    font-size: 11pt;
}

@media (prefers-color-scheme: light) {
    td, .number, .imageid, .imageid_base, .linkid, .linkid_event_A, .linkid_base, .btn_up, .btn_down, .btn_plus, .btn_minus {
        background-color: #e9e9e9;
    }

    input:focus, .btn_up:hover, .btn_down:hover, .btn_plus:hover, .btn_minus:hover, .btn_copy:hover, .btn_save:hover, .btn_load:hover, .btn_gate:hover {
        background-color: #DEDEDE;
    }

    .padding, .padding2 {
        background-color: #ECECEC;
    }

    td {
        border: .5px solid #0000001A;
    }

    .btn_copy, .btn_save, .btn_load, .btn_gate {
        background-color: #E4E4E4;
    }
}

@media (prefers-color-scheme: dark) {
    td, .number, .imageid, .imageid_base, .linkid, .linkid_event_A, .linkid_base, .btn_up, .btn_down, .btn_plus, .btn_minus {
        background-color: #2A2A2A;
    }

    input:focus, .btn_up:hover, .btn_down:hover, .btn_plus:hover, .btn_minus:hover, .btn_copy:hover, .btn_save:hover, .btn_load:hover, .btn_gate:hover {
        background-color: #3C3C3C;
    }

    .padding, .padding2 {
        background-color: #222;
    }

    td {
        border: .5px solid #FFFFFF1A;
    }

    .btn_copy, .btn_save, .btn_load, .btn_gate {
        background-color: #333;
    }
}

html[data-theme="light"]
    td {
        background-color: #e9e9e9;
        border: .5px solid #0000001A;
    }
    html[data-theme="light"]
    .section {
        background-color: #ECECEC;
    }
    html[data-theme="light"]
    .padding {
        background-color: #ECECEC;
    }
    html[data-theme="light"]
    .padding2 {
        background-color: #ECECEC;
    }
    html[data-theme="light"]
    .number {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .imageid {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .imageid_base {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .linkid {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .linkid_event_A {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .linkid_base {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .btn_up {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .btn_down {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .btn_up:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_down:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_plus {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .btn_minus {
        background-color: #e9e9e9;
    }
    html[data-theme="light"]
    .btn_plus:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_minus:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_copy {
        background-color: #e4e4e4;
    }
    html[data-theme="light"]
    .btn_save {
        background-color: #e4e4e4;
    }
    html[data-theme="light"]
    .btn_load {
        background-color: #e4e4e4;
    }
    html[data-theme="light"]
    .btn_gate {
        background-color: #e4e4e4;
    }
    html[data-theme="light"]
    input:focus {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_copy:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_save:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_load:hover {
        background-color: #DEDEDE;
    }
    html[data-theme="light"]
    .btn_gate:hover {
        background-color: #DEDEDE;
    }


html[data-theme="dark"]
    td {
        background-color: #2A2A2A;
        border: .5px solid #FFFFFF1A;
    }
    html[data-theme="dark"]
    .section {
        background-color: #222;
    }
    html[data-theme="dark"]
    .padding {
        background-color: #222;
    }
    html[data-theme="dark"]
    .padding2 {
        background-color: #222;
    }
    html[data-theme="dark"]
    .number {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .imageid {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .imageid_base {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .linkid {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .linkid_event_A {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .linkid_base {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .btn_up {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .btn_down {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .btn_up:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_down:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_plus {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .btn_minus {
        background-color: #2A2A2A;
    }
    html[data-theme="dark"]
    .btn_plus:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_minus:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_copy {
        background-color: #333;
    }
    html[data-theme="dark"]
    .btn_save {
        background-color: #333;
    }
    html[data-theme="dark"]
    .btn_load {
        background-color: #333;
    }
    html[data-theme="dark"]
    .btn_gate {
        background-color: #333;
    }
    html[data-theme="dark"]
    input:focus {
        background-color: #333;
    }
    html[data-theme="dark"]
    .btn_copy:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_save:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_load:hover {
        background-color: #3C3C3C;
    }
    html[data-theme="dark"]
    .btn_gate:hover {
        background-color: #3C3C3C;
    }