@charset "UTF-8";
/*@import url('https://cdn.rawgit.com/develoid/NanumSquare/master/nanumsquare.css');*/
@import url(https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/*
*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*/

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after { clear: both; }

.dvlAstyle {
  text-decoration: none;
  color: #333;
  text-align: center;
}

.dvlTop60 {
  margin-top: 60px;
}

.dvlTop30 {
  margin-top: 30px;
}

.dvlTop20 {
  margin-top: 20px;
}

.dvlTop10 {
  margin-top: 10px;
}

.dvlBottom0 {
  margin-bottom: 0px;
}

.dvlLeft {
  text-align: left;
  float: left;
}

.dvlList li {
  margin: 20px 0;
  list-style: none;
  text-align: center;
  transition: 0.5s;
}

.dvlList li:hover {
  margin-left: 20px;
}

.dvlTable {
  width: auto;
}

.dvlTable tr,
.dvlTable tr > td,
.dvlTable tr:nth-child(even) > td {
  border: 0;
  background:rgba(0, 0, 0, 0);
  padding: 12px;
}

.dvlTable tr:hover,
.dvlTable tr > td:hover,
.dvlTable tr:nth-child(even) > td:hover {
  background:rgba(0, 0, 0, 0);
}
