header {
    --bs-header-bg: var(--bs-body-bg);
    --margin-head-item: 1.2rem;
    display: flex;
    align-items: center;
    background-color: var(--bs-header-bg);
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-height);
    transition: all .2s ease-in-out;
}

header.off {
    top: calc(-1 * var(--header-height));
}

header .header-all {
    color: var(--bs-svglogo-color);
    display: flex;
    justify-content: space-between;
}

@media (max-width: 339.98px) {
    :root {
        --header-height: 64px;
    }
}

/* header left options */
header .header-left {
    margin-top: 2px;
}

header .header-left a {
}

header .header-left i {
    font-size: 2rem;
    padding: 0;
}

header .header-left i:hover {
    background-color: transparent;
}

@media (max-width: 1023.98px) {
    header .header-left {
        margin-top: 4px;
    }
}

@media (max-width: 339.98px) {
    header .header-left {
        margin-top: 2.5px;
    }

    header .header-left i {
        font-size: 1.6rem;
    }
    
}

/* header middle options */
header .header-mid {
    display: flex;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

header .header-mid h5 {
    opacity: .7;
    font-weight: 450;
    font-size: 10pt;
    letter-spacing: 1pt;
    margin: 0;
}

header .header-mid h5:hover {
    opacity: .9;
}

header .header-mid ul {
    padding: 0;
}

header .header-mid > li {
    margin: 0 var(--margin-head-item);  
}

.header-mid .header-mid-dropdown {
    backdrop-filter: blur(12px);
    position: relative;
    top: 20px;
    background-color: var(--bs-header-dropdown-bg);
    border-radius: 4px;
    margin: -1px calc(-1 * var(--margin-head-item)) calc(-1 * var(--header-height)) calc(-1 * var(--margin-head-item));
}

.header-mid .header-mid-dropdown li {
    list-style: none;
}

.header-mid .header-mid-dropdown h6 {
    opacity: .7;
    font-weight: 400;
    font-size: 9pt;
    letter-spacing: .6pt;
    text-align: center;
    margin: 0;
}

.header-mid .header-mid-dropdown h6:hover {
    opacity: .9;
    font-weight: 500;
}

.header-mid .header-mid-dropdown li:first-child {
    padding: 12px;
}

@media (max-width: 1023.98px) {
    header .header-mid {
        display: none;   
    }
}

/* header right options */
header .header-right {
    display: flex;
    align-items: center;
    z-index: 300;
}

header .header-right i {
    cursor: pointer;
    margin-top: 2px;
    font-size: 1.6rem;
}

.header-right .desktop {
    display: flex;
}

.desktop .header-search {
    margin-right: 8px;
}

.desktop .theme-toggle {
    margin-right: 18px;
}

.desktop .btn-login {
    background-color: var(--bs-btn-bg);
    border: 0;
    padding: 0 12px;
    font-size: 10pt;
    font-weight: 600;
    letter-spacing: 1pt;
}

.desktop .btn-login:hover {
    background-color: var(--bs-btn-hover-bg);
}

.header-right .mobile, .mobile-wrap, #mobile-wrap-bg  {
    display: none;
}

@media (max-width: 1023.98px) {
    .header-right .desktop {
        display: none;
    }
}

@media (max-width: 1023.98px) {
    .header-right .mobile, .mobile-wrap, #mobile-wrap-bg {
        display: flex;
    }

    .mobile .header-search, .theme-toggle {
        margin-right: 8px;
    }
}

@media (max-width: 339.98px) {
    header .header-right i {
        font-size: 1.2rem;
    }

    .mobile .header-search, .theme-toggle {
        margin-right: 2px;
    }
}

/* mobile header more wrap */
.mobile-wrap {
    overflow: none;
    position: fixed;
    height: 100vh;
    left: 0;
    right: 0;
    bottom: -100%;
    z-index: 200;
}

.mobile-wrap.on {
    bottom: 0;
}

.mobile-wrap .wrap-close {
    text-align: right;
    font-size: 1.6rem;
    margin-top: calc(var(--header-height) / 4 - 1px);
}

.mobile-wrap .wrap-close i {
    cursor: pointer;
}

.mobile-wrap h6 {
    opacity: .8;
    font-size: 12pt;
    font-weight: 400;
    letter-spacing: 3pt;
    margin-bottom: 0;
}

.mobile-wrap h5 {
    font-size: 17pt;
    font-weight: 700;
    letter-spacing: 3pt;
}

.mobile-wrap h5:hover {
    font-weight: 750;
}

.mobile-wrap .mobile-wrap-detail {
    padding-top: 8vh;
    padding-bottom: 10vh;
    flex: 1;
}

.mobile-wrap .mobile-wrap-detail-h6 {
    padding-bottom: 52px;
}

@media (max-width: 313.98px) {
    .mobile-wrap h6 {
        font-size: 9pt;
        line-height: 1.5;
    }

    .mobile-wrap h5 {
        font-size: 15pt;
        font-weight: 700;
        letter-spacing: 2pt;
    }
}

.mobile-wrap-all {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-bottom: 4vh;
}

.mobile-wrap-detail .mobile-wrap-detail-menu {
    list-style: none;
    padding: 0;
}

.mobile-wrap-detail-menu .mobile-wrap-detail-menu-dropdown {
    position: relative;
    background-color: var(--bs-header-wrap-dropdown-bg);
    border-radius: 8px;
    width: calc(100% + 6%);
    margin-top: 24px;
    margin-bottom: 42px;
    padding: 24px;
    left: -3%;
}

@media (max-width: 439.98px) {
    .mobile-wrap-detail-menu .mobile-wrap-detail-menu-dropdown {
        width: calc(100% + 22.5%);
    }
}

.mobile-wrap-detail-menu > li {
    margin-bottom: 42px;
}

.mobile-wrap-detail-menu-dropdown > li {
    padding-bottom: 16px;
    list-style: none;
}

.mobile-wrap-detail-menu-dropdown > li:last-child {
    padding-bottom: 0;
}

.mobile-wrap-detail-menu-dropdown h6 {
    font-size: 14pt;
    font-weight: 600;
    letter-spacing: 2pt;
}

.mobile-wrap-detail-menu-dropdown h6:hover {
    font-weight: 700;
}

.mobile-wrap-detail-footer-copy p {
    opacity: .6;
    font-size: 9pt;
    font-weight: 400;
    letter-spacing: var(--bs-small-letter-spacing);
}

#mobile-wrap-bg {
    background-color: var(--bs-header-wrap-bg);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

@media (max-width: 1023.98px) {
    .mobile-wrap .mobile-wrap-detail {
        width: 630px;
    }
}

@media (max-width: 767.98px) {
    .mobile-wrap .mobile-wrap-detail {
        width: 364px;
    }
}

@media (max-width: 439.98px) {
    .mobile-wrap .mobile-wrap-detail {
        width: 86%;
    }
}