/*
    * container size: 1200px, 1024px, 768px, 540px, 440px;
    * color: #fff;
    * btn-default: #2c2c2c; -> hover: #3c3c3c;
*/

:root {
    --bs-font-sans-serif: 'Pretendard Variable', sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-color: #000;
    --bs-body-bg: #ECECEC;
    --bs-header-wrap-bg: #E3E3E3;
    --bs-header-wrap-dropdown-bg: #d4d4d4;
    --bs-header-dropdown-bg: #ffffff80;
    --bs-footer-bg: #E3E3E3;
    --bs-link-color: var(--bs-body-color);
    --bs-link-hover-color: var(--bs-body-color);
    --bs-small-letter-spacing: -.1pt;
    --bs-svglogo-color: #000;
    --bs-btn2-bg: #dbdbdbb3;
    --bs-btn2-hover-bg: #cbcbcbb3;
    --bs-box-border-color: #0000001A;
    --header-height: 76px;
    --background-image: url(../../img/light.jpg);
}

.dark-mode {
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-body-color: #fff;
    --bs-body-bg: #000;
    --bs-border-color: #dee2e6;
    --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
    --bs-code-color: #d63384;
    --bs-highlight-bg: #fff3cd;
    --bs-header-wrap-bg: #202020;
    --bs-header-wrap-dropdown-bg: #2f2f2f;
    --bs-header-dropdown-bg: #ffffff1a;
    --bs-footer-bg: #171717;
    --bs-link-color: var(--bs-body-color);
    --bs-link-hover-color: var(--bs-body-color);
    --bs-svglogo-color: #FFF;
    --bs-btn2-bg: #2c2c2cb3;
    --bs-btn2-hover-bg: #3c3c3cb3;
    --bs-box-border-color: #FFFFFF33;
    --background-image: url(../../img/dark.jpg);
}

*,
*::before,
*::after {
    word-break: keep-all;
}

body {
    overflow: auto;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: auto;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
    transition: all .2s ease-in-out;
}

.btn {
    --bs-btn-color: var(--bs-body-color);
    --bs-btn-bg: var(--bs-btn2-bg);
    --bs-btn-hover-bg: var(--bs-btn2-hover-bg);
    --bs-btn-hover-color: var(--bs-btn-color);
}

.dark-mode > .btn {
    --bs-btn-bg: #2c2c2c;
    --bs-btn-hover-bg: #3c3c3c;
}

.btn:focus-visible {
    opacity: 1;
    color: var(--bs-btn-hover-color);
    background-color: var(--bs-btn-hover-bg);
}

.screen {
    margin: 0 auto;
    width: 1296px;
}

@media (max-width: 1439.98px) {
    .screen {
        width: 952px;
    }
}

@media (max-width: 1199.98px) {
    .screen {
        width: 952px;
    }
}

@media (max-width: 1023.98px) {
    .screen {
        width: 630px;
    }
}

@media (max-width: 767.98px) {
    .screen {
        width: 364px;
    }
}

@media (max-width: 439.98px) {
    .screen {
        width: 86%;
    }
}

/* background */
#full, #full-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    min-height: calc(100vh);
  }
  
  #full-img {
    background-image: var(--background-image);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

/* text */
h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
    font-weight: 600;
}
  
a {
    text-decoration: none;
}

/* button */
.btn {
    --bs-btn-font-weight: 600;
}

/* substitution */
.px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
  }
  
  .py-5 {
    padding-top: 2.5rem !important;
    padding-bottom: 2.5rem !important;
  }
  
  .fs-7 {
    font-size: .9rem !important;
  }
  
  .btn-full {
    width: 100%;
  }