.search-wrap {
    position: fixed;
    width: 100%;
    height: 100%;
    bottom: -100%;
    z-index: 500;
}

.search-wrap.on {
    bottom: 0;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bs-header-wrap-bg);
    border: 1.4px solid var(--bs-box-border-color);
    border-radius: 4px;
    position: absolute;
    width: 1296px;
    height: 52px;
    margin-top: 24px;
    z-index: 700;
}

.search-bar i {
    cursor: pointer;
    margin: 8px;
}

.search-bar .input-search-bar {
    background-color: #00000000;
    color: var(--bs-body-color);
    border: 0;
    width: 100%;
    padding: 12px 0;
    letter-spacing: var(--bs-small-letter-spacing);
}

.search-bar .input-search-bar:focus {
    outline: none;
}

.search-bar .input-search-bar::placeholder {
    opacity: .6;
    color: var(--bs-body-color);
    font-weight: 300;
    border: 0;
}

#search-wrap-bg {
    background-color: var(--bs-header-wrap-bg);
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}

.search-wrap, #search-wrap-bg {
    display: flex;
}

@media (max-width: 1439.98px) {
    .search-bar {
        width: 952px;
    }
}

@media (max-width: 1199.98px) {
    .search-bar {
        width: 952px;
    }
}

@media (max-width: 1023.98px) {
    .search-bar {
        width: 630px;
    }
}

@media (max-width: 767.98px) {
    .search-bar {
        width: 364px;
    }
}

@media (max-width: 439.98px) {
    .search-bar {
        width: 86%;
    }
}