<head>
  <meta charset="UTF-8">
  <meta content="#F2F2F7" name="theme-color" media="(prefers-color-scheme: light)">
  <meta content="#000" name="theme-color" media="(prefers-color-scheme: dark)">
  <meta content='yes' name='apple-mobile-web-app-capable'/>
  <meta name="apple-mobile-web-app-title" content="디벨로이드">
  <meta NAME="ROBOTS" content="NOINDEX, NOFOLLOW">
  <meta name="viewport" content="viewport-fit=cover, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta name="author" content="DEVELOID">
  <meta name="description" content="DEVELOID">
  <meta name="keywords" content="DEVELOID, Cafe, Community, Content, IT, Tech">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://go.develoid.net">
  <meta property="og:title" content="디벨로이드">
  <meta property="og:image" content="/asset/images/ogimage.png">
  <meta property="og:description" content="우리와 함께, 디벨로이드.">
  <link rel="apple-touch-icon" href="/asset/images/universal_icon.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="canonical" href="https://develoid.net">
  <link rel="icon" href="/asset/favicon.svg">
  <link rel=”mask-icon” href="/asset/images/transparent.svg" color="#000000">
  <link rel="icon" href="{{ "/asset/favicon.svg" | relative_url }}">
  <link rel=”mask-icon” href="{{ "/asset/images/transparent.svg" | relative_url }}" color="#000000">
  <link rel="apple-touch-icon" href="{{ "/asset/images/universal_icon.png" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/Box.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/Card.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/MainActivity.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/MainLayout.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/NavBar.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/Notice.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/Post.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/Search.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/System.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/SystemFont.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/TabBar.css" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  <title>디벨로이드</title>
  <script type="text/javascript" src="/asset/js/theme-toggle.js"></script>
  <script>
    if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('/asset/js/manifest.js');
    }
    </script>
  {% include googleAnalytics.html %}
</head>