<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1;">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width">
  <meta http-equiv="Cache-Control" content="private, max-age=86400">
  <meta name="theme-color" content="#FAFAFA">
  <meta name="author" content="{{ site.author | escape }}">
  <meta name="keywords" content="{{ site.title | escape }}">
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 200 | escape }}">
  <title>{% if page.title %}{{ site.title | escape }} : {{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <link rel="stylesheet" href="{{ "/asset/css/base.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/asset/css/style.css" | relative_url }}">
  <link rel="shortcut icon" href="{{ "/asset/img/develoid_logo_light.svg" | relative_url }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
  {% include googleAnalytics.html %}
</head>
