<nav id="nav">
  <div class="navLeft">
    <a href="{{ '/' | relative_url }}"><img class="logo" src="{{ "/asset/img/wordmark_light.svg" | relative_url }}" alt="Logo"></a>
  </div>
  <div class="navRight">
    <!--<a href="javascript:void(0)" class="openMenu" onclick="openMenu()">&#9776;</a>-->
    <a href="javascript:void(0)" class="openMenu" onclick="openMenu()">MENU</a>
  </div>
  <div id="navOverlay" class="navOverlay">
    <ul class="navOverlayContent">
      <li><a href="https://cafe.naver.com/develoid" target="_blank">COMMUNITY</a></li>
      <li><a href="{{ '/op' | relative_url }}" target="_blank">SUPPORT</a></li>
      <li><a href="{{ '/cig' | relative_url }}" target="_blank">LOGO GUIDE</a></li>
      <li><a href="{{ '/' | relative_url }}">GUIDE</a></li>
      <li><a href="javascript:void(0)" class="closeMenu" onclick="closeMenu()">&times;</a></li>
    </ul>
  </div>
</nav>
