<div class="search-wrap">
    <div class="search-top-bg">
        <div class="search-top">
            <div class="div-search search search-in-wrap">
                <i class="iSearch iRegular"></i>
                <input type="text" class="searchInput input-search-bar draggable" placeholder="테크 지식" autofocus>
            </div>
            <div class="text search-cancel pointer">
                <h3 class="Subheadline">취소</h3>
            </div>
        </div>
    </div>
    <div class="searchResults-top">
        <div class="searchResults_dummy"></div>
        <div class="searchResults"></div>
    </div>
</div>