@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after { clear: both; }

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

body {
  font-family: "Nanum Gothic", sans-serif;
  background: #212121;
}

#item {
  width: 320px;
  margin: 16px auto;
  padding: 16px;
  background: #fff;
  border: 0px;
  border-radius: 12px;
}

#item p {
  margin: 8px 0;
  font-size: 14px;
}

#item input {
  width: 100%;
  margin: 4px 0;
  padding: 8px;
  text-align: right;
  border: 0px;
  border-radius: 6px;
  background: #EEEEEE;
  font-size: 16px;
}

#item input:disabled {
  background: #CFD8DC;
}