html {
    background-color: black;
    color: white;
    font-weight: 700;
    letter-spacing: -0.04em;
	font-size: 15pt;
}

.header a {
    color: white !important;
}

.bg {
    background: url(../images/bg_dark.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.section {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-bottom: -104px;
}

button, input {
    width: 24rem;
    height: 3rem;
    color: white;
    cursor: pointer;
    font-weight: 500;
    font-size: 12.5pt;
    letter-spacing: -0.04em;
}

/* Title BETA button Start */

.btpd {
    padding: 0.3rem 0;
}

.beta {
    font-size: 10pt;
    font-weight: 600;
    cursor: default;
    width: 3.5em;
    height: 1.8em;
    background-color: #8E77C6;
    border-radius: 4px;
    color: white;
}

/* Title BETA button End */

table {
    width: 100%;
}

.title {
    padding: 0 60px 40px 60px;
}

.title h1 {
    font-weight: 700;
    font-size: 42pt;
    margin: 0;
}

.title p {
    font-weight: 400;
    font-size: 14pt;
    opacity: 60%;
}

.sub h3 {
    margin: 0 0 8px 0;
    font-size: 14pt;
}

.sub button {
    border-radius: 60px;
}

.kakaobutton, .cafekbutton, .cafekdvlbutton, .contbutton, .purpbutton {
    margin-top: 16px;
}

.kakaobutton {
    background: linear-gradient(45deg, #FF7918, #FFB82E);
}

.cafekdvlbutton {
    background: linear-gradient(45deg, #FF7918, #FFB82E);
}

.contbutton {
    background: linear-gradient(45deg, #FF7918, #FFB82E);
}

.purpbutton {
    background: linear-gradient(45deg, #5D398C, #835DD3);
}

.cafekbutton {
    background: linear-gradient(45deg, #5D398C, #835DD3);
}

.kakaobutton:hover, .cafekdvlbutton:hover, .contbutton:hover {
    background: linear-gradient(45deg, #E56C14, #DB9D24);
}

.purpbutton:hover, .cafekbutton:hover {
    background: linear-gradient(45deg, #5D398C, #7351BB);
}

.cont, .comm {
    width: 24rem;
    padding-right: 60px;
}

.comm {
    padding-top: 60px;
}

/* 누리집 MenuWrap 영역은 header.css와 연계 */

.menuwrap_dvl {
	display: flex;
	flex-flow: row wrap;
	align-content: space-around;
	justify-content: space-between;
    position: fixed;
    overflow: auto;
    box-sizing: border-box;
    background-color: #202020;
    width: 100%;
    height: 150px;
	bottom: -150px;
    padding: 34px 4%;
    border-radius: 20px 20px 0 0;
    transition: bottom .3s ease-in-out;
    z-index: 1200;
}

.menuwrap_dvl.on {
    bottom: 0;
}

.menuwrap_dvl svg {
	width: 12px;
	height: 12px;
}

#dimmed2 {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    -webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
    z-index: 1100;
}

.cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .report_inwrap, .ct1_inwrap, .ct2_inwrap, .section_cancel_inwrap {
	font-size: 12pt;
	font-weight: 500;
	border-radius: 8px;
	color: white;
	width: 23.5%;
	height: 80%;
}

.cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .section_cancel_inwrap {
	background-color: #303030;
}

.cig_inwrap:hover, .dvl_inwrap:hover, .cafeguide_inwrap:hover, .menu_inwrap:hover, .section_cancel_inwrap:hover {
	background-color: #2B2B2B;
}

.report_inwrap {
    background: linear-gradient(45deg, #B01C1C, #D84040);
}

.report_inwrap:hover {
    background: linear-gradient(45deg, #9A1717, #C63939);
}

.ct1_inwrap, .ct2_inwrap {
    background: linear-gradient(45deg, #5D398C, #835DD3);
}

.ct1_inwrap:hover, .ct2_inwrap:hover {
    background: linear-gradient(45deg, #5D398C, #7351BB);
}

@media screen and (min-width: 960px) {
    .menuwrap_dvl {
        width: 590px;
        height: 100px;
        bottom: -100px;
        padding: 0 20px;
        border-radius: 60px;
        flex-flow: flex nowrap;
		transition: none;
    }

    .menuwrap_dvl.on {
        bottom: 50%;
    }

    .report_inwrap, .ct1_inwrap, .ct2_inwrap {
        width: 150px;
		height: 60px;
		border-radius: 60px;
    }

	.section_cancel_inwrap {
		width: 60px;
		height: 60px;
		border-radius: 60px;
	}
}    

@media screen and (max-width: 1182px) {
    .section {
        justify-content: center;
        flex-direction: column;
        height: auto;
        margin: 140px 0 0 0;
    }
    
    .title {
        padding: 0 0 40px 0;
        width: 30rem;
    }

    button {
        width: 30rem;
        height: 3.6rem;
        font-size: 14pt;
    }

    .cont, .comm {
        width: 30rem;
        padding-right: 0;
    }

    .cafesbutton, .cafesfbutton {
        width: 10rem;
    }
}

@media screen and (max-width: 850px) {
    .menuwrap_dvl svg {
		width: 11px;
		height: 11px;
	}

	.cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .report_inwrap, .ct1_inwrap, .ct2_inwrap, .section_cancel_inwrap {
		font-size: 11pt;
	}
}

@media screen and (max-width: 690px) {   
    .menuwrap_dvl {
		height: 240px;
		bottom: -240px;
	}

	.menuwrap_dvl svg {
		width: 13px;
		height: 13px;
	}

    .section h1 {
        font-size: 39pt;
        line-height: 1.2;
    }

    button, .cont, .comm, .title {
        width: 24rem;
    }

    button {
        font-size: 13pt;
        height: 3.3rem;
    }

    .cafesbutton, .cafesfbutton {
        width: 8rem;
    }

    .cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .report_inwrap, .ct1_inwrap, .ct2_inwrap, .section_cancel_inwrap {
		width: 48%;
		height: 70px;
	}
}

@media screen and (max-width: 540px) { 
    /* Title BETA button Start */

    .beta {
        font-size: 8.5pt;
    }

    /* Title BETA button End */

    .menuwrap_dvl {
		height: 400px;
		bottom: -400px;
		padding: 24px 4%;
	}

    .section h1 {
        font-size: 32pt;
        line-height: 1.2;
    }

    .section p {
        font-size: 12pt;
    }

    button, .cont, .comm, .title {
        width: 21rem;
    }

    .cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .report_inwrap, .ct1_inwrap, .ct2_inwrap, .section_cancel_inwrap {
		width: 100%;
	}
}

@media screen and (max-width: 470px) {    

    /* Title BETA button Start */

    .beta {
        font-size: 8pt;
    }

    /* Title BETA button End */

    .menuwrap_dvl {
		height: 340px;
		bottom: -340px;
		padding: 18px 4%;
	}
	
	.menuwrap_dvl svg {
		width: 12px;
		height: 12px;
	}

    .section h1 {
        font-size: 30pt;
        line-height: 1.15;
    }

    button {
        font-size: 12pt;
        height: 2.8rem;
    }

    .section p {
        font-size: 11pt;
    }

    button, .cont, .comm, .title {
        width: 18rem;
    }

    .cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .report_inwrap, .ct1_inwrap, .ct2_inwrap, .section_cancel_inwrap {
		font-size: 12pt;
        height: 60px;
	}
}

@media screen and (max-width: 420px) { 
       
    /* Title BETA button Start */

    .beta {
        font-size: 7pt;
    }

    /* Title BETA button End */

    .section h1 {
        font-size: 28pt;
        line-height: 1.15;
    }

    button {
        font-size: 11pt;
        height: 2.5rem;
    }

    .section p {
        font-size: 10.5pt;
    }

    button, .cont, .comm, .title {
        width: 16.8rem;
    }

}

@media screen and (max-width: 380px) { 
    
    /* Title BETA button Start */

    .beta {
        font-size: 6.5pt;
    }

    /* Title BETA button End */

    .section h1 {
        font-size: 25pt;
        line-height: 1.15;
    }

    button {
        font-size: 10pt;
        height: 2.3rem;
    }

    .section p {
        font-size: 9.5pt;
    }

    button, .cont, .comm, .title {
        width: 15rem;
    }

    .cafesbutton, .cafesfbutton {
        width: 5rem;
    }
}

@media screen and (max-width: 360px) {
    .menuwrap_dvl {
		height: 320px;
		bottom: -320px;
		padding: 24px 6%;
	}

	.menuwrap_dvl svg {
		width: 11px;
		height: 11px;
	}

	.cig_inwrap, .dvl_inwrap, .cafeguide_inwrap, .menu_inwrap, .report_inwrap, .ct1_inwrap, .ct2_inwrap, .section_cancel_inwrap {
		font-size: 11pt;
        height: 50px;
	}
}
