.card-withimg-start {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    gap: 4px;
    background-image: url(../images/photo-7th.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.card-bestphoto {
    width: 100%;
    height: 100%;
    max-height: 596px;
    display: flex;
    padding: 0;
    position: relative;
    gap: 4px;
    object-fit: cover;
    object-position: bottom;
    border-radius: 8px;
}

.card-withimg-end {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    gap: 4px;
    background-image: url(../images/photo-7th.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

.card-withimg-solid {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding: 0;
    gap: 4px;
    background-image: url(../images/photo-7th.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
}

    .inline {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 16px;
        background-color: var(--Elevated-Primary);
        position: relative;
        gap: 4px;
        border-radius: 0px 0px 8px 8px;
    }

.card-download-A {
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 16px;
    background-color: var(--Elevated-Primary);
    position: relative;
    border-radius: 8px;
}

    .download {
        width: 100%;
        height: min-content;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        overflow: visible;
        position: relative;
        padding: 0;
        gap: 4px;
    }

        .download > i {
            font-size: 17px;
        }

.card-logocolor {
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px;
    position: relative;
    border-radius: 8px;
    color: #FFF;
}

    .card-logocolor > p {
        text-transform: none;
    }