.page {
    width: 100%;
    max-width: 1102px;
}

.Navigation-Bar_dummy {
    top: 0;
    background-color: var(--Seperated-Transparent);
    backdrop-filter: blur(20px);
    width: 100%;
    height: 44px;
    display: none;
    z-index: 1;
    position: absolute;
}

    .Navigation-Bar_dummy.on {
        display: flex;
    }