.div-search {
    width: 100%;
    height: min-content;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 8px;
    background-color: var(--Tertiary);
    color: var(--Label-Secondary);
    position: relative;
    gap: 6px;
    border-radius: 8px;
}

.div-search i {
    font-size: 20px;
}