#main,
#list {
  display: table;
}

#main {
  padding: 60px 10px;
  min-height: 30vh;
}

#list {
  padding: 20px 10px;
  min-height: 70vh;
  width: 100vw;
}

#item {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media (max-width: 1024px) {
  #item { width: 75vw; }
}

@media (max-width: 767px) {
  #item { width: 94vw; }
}


/* Box */
.box {
  margin: 10px;
  padding: 20px;
  border-radius: 8px;
  transition: 0.5s;
  font-weight: bold;
}

.boxText {
  margin: 10px;
  padding: 20px;
  transition: 0.5s;
  background-color: #FAFAFA;
  border: 2px solid #F5F5F5;
  border-radius: 8px;
  color: #212121;
  font-size: 16px;
}

.boxText ul {
  padding: 10px 6px 10px 24px;
}

.boxText ul li {
  margin: 8px 0;
}

.boxImg {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.bgKakao { background-color: #FFDE03; color: #4E342E; }
.bgKakao:hover { background-color: #FF7F00;  color: #fff; }

.bgRed { background-color: #E57373; color: #fff; }
.bgRed:hover { background-color: #D32F2F; }

.bgPink { background-color: #F06292; color: #fff; }
.bgPink:hover { background-color: #C2185B; }

.bgPurple { background-color: #BA68C8; color: #fff; }
.bgPurple:hover { background-color: #7B1FA2; }

.bgIndigo { background-color: #7986CB; color: #fff; }
.bgIndigo:hover { background-color: #303F9F; }

.bgBlue { background-color: #64B5F6; color: #fff; }
.bgBlue:hover { background-color: #1976D2; }

.bgLightBlue { background-color: #4FC3F7; color: #212121; }
.bgLightBlue:hover { background-color: #0288D1; }

.bgCyan { background-color: #4DD0E1; color: #212121; }
.bgCyan:hover { background-color: #0097A7; }

.bgTeal { background-color: #4DB6AC; color: #fff; }
.bgTeal:hover { background-color: #00796B; }

.bgGreen { background-color: #81C784; color: #212121; }
.bgGreen:hover { background-color: #388E3C; }

.bgLightGreen { background-color: #AED581; color: #212121; }
.bgLightGreen:hover { background-color: #689F38; }

.bgLime { background-color: #DCE775; color: #212121; }
.bgLime:hover { background-color: #AFB42B; }

.bgYellow { background-color: #FFF176; color: #212121; }
.bgYellow:hover { background-color: #FBC02D; }

.bgAmber { background-color: #FFD54F; color: #212121; }
.bgAmber:hover { background-color: #FFA000; }

.bgOrange { background-color: #FFB74D; color: #fff; }
.bgOrange:hover { background-color: #F57C00; }

.bgDeepOrange { background-color: #FFB74D; color: #fff; }
.bgOrange:hover { background-color: #F57C00; }

.bgBrown { background-color: #A1887F; color: #fff; }
.bgBrown:hover { background-color: #5D4037; }

.bgGray { background-color: #E0E0E0; color: #212121; }
.bgGray:hover { background-color: #616161; }

.bgBlueGray { background-color: #90A4AE; color: #fff; }
.bgGray:hover { background-color: #455A64; }

.bgBlack { background-color: #000; color: #fff; }
.bgBlack:hover { background-color: #fff; color: #000; }

.bgWhite { background-color: #fff; color: #000; }
.bgGray:hover { background-color: #000; color: #fff; }
