#main,
#list {
  display: table;
}

#main {
  padding: 60px 10px;
  min-height: 30vh;
}

#list {
  padding: 20px 10px;
  min-height: 70vh;
  width: 100vw;
  margin-bottom: 80px;
}

#item {
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
}

/* Mobile */
@media (max-width: 1024px) {
  #item { width: 75vw; }
}

@media (max-width: 767px) {
  #item { width: 94vw; }
}

/* Content Control */
#content1,
#content2,
#content3 {
  display: none;
}

/* Box */
.boxMain,
.box {
  padding: 20px;
  border-radius: 4px;
  transition: 0.5s;
  font-weight: bold;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.boxMain {
  margin: 20px 10px;
}

.box {
  margin: 20px 10px 10px;
}

.boxText {
  margin: 10px;
  transition: 0.5s;
  background-color: #FFFFFF;
  border-radius: 4px;
  color: #212121;
  font-size: 16px;
  text-align: left;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.boxText div {
  padding: 20px;
}

.boxText div h3 {
  margin: 10px 0;
}

.boxText div ul {
  padding: 10px 6px 10px 24px;
}

.boxText div ul li {
  margin: 8px 0;
}

.boxImg {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 4px;
}

.btn {
  width: 100%;
  margin: 0;
  padding: 20px;
  transition: 0.5s;
  font-weight: bold;
  text-align: center;
}

.btnFirst {
  margin-top: 20px;
}

.btnLast {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.bgKakao { background-color: #FFDE03; color: #4E342E; }
.bgKakao:hover { background-color: #FF7F00;  color: #fff; }

.bgRed { background-color: #E57373; color: #fff; }
.bgRed:hover { background-color: #D32F2F; }

.bgPink { background-color: #F06292; color: #fff; }
.bgPink:hover { background-color: #C2185B; }

.bgPurple { background-color: #BA68C8; color: #fff; }
.bgPurple:hover { background-color: #7B1FA2; }

.bgIndigo { background-color: #7986CB; color: #fff; }
.bgIndigo:hover { background-color: #303F9F; }

.bgBlue { background-color: #64B5F6; color: #fff; }
.bgBlue:hover { background-color: #1976D2; }

.bgLightBlue { background-color: #4FC3F7; color: #212121; }
.bgLightBlue:hover { background-color: #0288D1; }

.bgCyan { background-color: #4DD0E1; color: #212121; }
.bgCyan:hover { background-color: #0097A7; }

.bgTeal { background-color: #4DB6AC; color: #fff; }
.bgTeal:hover { background-color: #00796B; }

.bgGreen { background-color: #81C784; color: #212121; }
.bgGreen:hover { background-color: #388E3C; }

.bgLightGreen { background-color: #AED581; color: #212121; }
.bgLightGreen:hover { background-color: #689F38; }

.bgLime { background-color: #DCE775; color: #212121; }
.bgLime:hover { background-color: #AFB42B; }

.bgYellow { background-color: #FFF176; color: #212121; }
.bgYellow:hover { background-color: #FBC02D; }

.bgAmber { background-color: #FFD54F; color: #212121; }
.bgAmber:hover { background-color: #FFA000; }

.bgOrange { background-color: #FFB74D; color: #fff; }
.bgOrange:hover { background-color: #F57C00; }

.bgDeepOrange { background-color: #FFB74D; color: #fff; }
.bgOrange:hover { background-color: #F57C00; }

.bgBrown { background-color: #A1887F; color: #fff; }
.bgBrown:hover { background-color: #5D4037; }

.bgGray { background-color: #E0E0E0; color: #212121; }
.bgGray:hover { background-color: #616161; }

.bgBlueGray { background-color: #90A4AE; color: #fff; }
.bgGray:hover { background-color: #455A64; }

.bgBlack { background-color: #000; color: #fff; }
.bgBlack:hover { background-color: #fff; color: #000; }

.bgWhite { background-color: #fff; color: #000; }
.bgGray:hover { background-color: #000; color: #fff; }

.borderKakao { border: 6px solid #FFDE03; color: #FFDE03; }
.borderKakao:hover { border: 6px solid #FF7F00; color: #FF7F00; }

.borderRed { border: 6px solid #E57373; color: #E57373; }
.borderRed:hover { border: 6px solid #D32F2F; color: #D32F2F; }

.borderPink { border: 6px solid #F06292; color: #F06292; }
.borderPink:hover { border: 6px solid #C2185B; color: #C2185B;}

.borderPurple { border: 6px solid #BA68C8; color: #BA68C8; }
.borderPurple:hover { border: 6px solid #7B1FA2; color: #7B1FA2;}

.borderIndigo { border: 6px solid #7986CB; color: #7986CB; }
.borderIndigo:hover { border: 6px solid #303F9F; color: #303F9F;}

.borderBlue { border: 6px solid #64B5F6; color: #64B5F6; }
.borderBlue:hover { border: 6px solid #1976D2; color: #1976D2;}

.borderLightBlue { border: 6px solid #4FC3F7; color: #4FC3F7; }
.borderLightBlue:hover { border: 6px solid #0288D1; color: #0288D1; }

.borderCyan { border: 6px solid #4DD0E1; color: #4DD0E1; }
.borderCyan:hover { border: 6px solid #0097A7; color: #0097A7;}

.borderTeal { border: 6px solid #4DB6AC; color: #4DB6AC; }
.borderTeal:hover { border: 6px solid #00796B; color: #00796B;}

.borderGreen { border: 6px solid #81C784; color: #81C784; }
.borderGreen:hover { border: 6px solid #388E3C; color: #388E3C;}

.borderLightGreen { border: 6px solid #AED581; color: #AED581; }
.borderLightGreen:hover { border: 6px solid #689F38; color: #689F38;}

.borderLime { border: 6px solid #DCE775; color: #DCE775; }
.borderLime:hover { border: 6px solid #AFB42B; color: #AFB42B;}

.borderYellow { border: 6px solid #FFF176; color: #FFF176; }
.borderYellow:hover { border: 6px solid #FBC02D; color: #FBC02D;}

.borderAmber { border: 6px solid #FFD54F; color: #FFD54F; }
.borderAmber:hover { border: 6px solid #FFA000; color: #FFA000;}

.borderOrange { border: 6px solid #FFB74D; color: #FFB74D; }
.borderOrange:hover { border: 6px solid #F57C00; color: #F57C00;}

.borderDeepOrange { border: 6px solid #FFB74D; color: #FFB74D; }
.borderOrange:hover { border: 6px solid #F57C00; color: #F57C00;}

.borderBrown { border: 6px solid #A1887F; color: #A1887F; }
.borderBrown:hover { border: 6px solid #5D4037; color: #5D4037;}

.borderGray { border: 6px solid #E0E0E0; color: #E0E0E0; }
.borderGray:hover { border: 6px solid #616161; color: #616161;}

.borderBlueGray { border: 6px solid #90A4AE; color: #90A4AE; }
.borderGray:hover { border: 6px solid #455A64; color: #455A64;}

.borderBlack { border: 6px solid #000; color: #212121; }
.borderBlack:hover { border: 6px solid #fff; color: #212121; }

.borderWhite { border: 6px solid #fff; color: #212121; }
.borderGray:hover { border: 6px solid #000; color: #212121; }
