html {
    background-color: #ececec;
    color: #303030;
}

.section {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-bottom: -104px;
}

button {
    border-radius: 8px;
    width: 21rem;
    height: 3rem;
    color: #303030;
    font-size: 13pt;
}

.title h1 {
    font-weight: 700;
    font-size: 42pt;
    margin: 0;
}

.title p {
    margin: 20px 0 0 0;
    font-weight: 500;
    font-size: 15pt;
    opacity: 40%;
}

.cont {
    width: 21rem;
}

.mainbutton_top {
    background-color: #E7E7E8;
}

.mainbutton, .mainbutton_tabletop {
    margin-top: 16px;
    background-color: #E7E7E8;
}

.mainbutton_tabletop {
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid #0000000D;
}

.mainbutton_tabletop.on {
    border-radius: 8px;
    border: 0;
}

.mail {
    display: flex;
}

.mail.on {
    display: none;
}

.mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
    background-color: #E7E7E8;
    width: 7rem;
    height: 3rem;
    color: #303030;
    font-size: 11.5pt;
}

.mainbutton_tablebotleft {
    border-radius: 0 0 0 8px;
    border-right: 2px solid #0000000D;
}

.mainbutton_tablebotmid {
    border-radius: 0;
}

.mainbutton_tablebotright {
    border-radius: 0 0 8px 0;
    border-left: 2px solid #0000000D;
}

.mainbutton_top:hover, .mainbutton:hover, .mainbutton_tabletop:hover, .mainbutton_tablebotleft:hover, .mainbutton_tablebotmid:hover, .mainbutton_tablebotright:hover {
	background-color: #E0E0E0;
}

@media screen and (max-width: 1080px) {
    .section {
        justify-content: center;
        flex-direction: column;
    }
    
    .title {
        text-align: center;
        padding: 0 0 52px 0;
    }
    
    .title h1 {
        font-size: 38pt;
    }
    
    .title p {
        font-size: 15pt;
    }
}

@media screen and (max-height: 476px) {
    .header {
        display: none !important;
    }
}

@media screen and (max-width: 1080px) and (max-height: 750px) {
    .header {
        display: none !important;
    }
}

@media screen and (max-width: 1080px) and (max-height: 554px) {
    .title {
        text-align: left;
    }

    .title h1 {
        font-size: 32pt;
    }

    .title p {
        font-size: 13pt;
    }

    button, .cont {
        width: 18rem;
    }

    .mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
        width: 6rem;
    }
}

@media screen and (max-width: 820px) and (max-height: 554px) {
    .title {
        padding: 0 0 32px 0;
    }

    .title h1 {
        display: none;
    }

    .title p {
        margin: 0 !important;
        text-align: center;
        font-size: 11pt;
    }

    button, .cont {
        width: 18rem;
    }

    .mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
        width: 6rem;
    }
}

@media screen and (max-width: 820px) and (max-height: 554px) {
    .title {
        padding: 0 0 32px 0;
    }

    .title h1 {
        display: none;
    }

    .title p {
        margin: 0 !important;
        text-align: center;
        font-size: 12pt;
    }

    button, .cont {
        width: 15rem;
        font-size: 12pt;
    }

    .mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
        width: 5rem;
        font-size: 10pt;
    }
}

@media screen and (max-width: 1080px) and (max-height: 478px) {
    .section {
        justify-content: space-around;
        flex-direction: row;
    }

    .title {
        padding: 32px 0 32px 0;
    }
}

@media screen and (max-width: 580px) and (max-height: 297px) {
    .paddingfooter, .footertop, .footerbot {
        display: none !important;
    }
}