html {
    background-color: #E0E0E0;
    color: #303030;
}

.header a {
    color: #303030 !important;
}

.section {
    display: flex;
    flex: 1;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    margin-bottom: -104px;
}

button {
    border-radius: 8px;
    width: 21rem;
    height: 3rem;
    color: #303030;
    font-size: 13pt;
}

.title h1 {
    font-weight: 700;
    font-size: 42pt;
    margin: 0;
}

.title p {
    margin: 20px 0 0 0;
    font-weight: 500;
    font-size: 15pt;
    opacity: 40%;
}

.cont {
    width: 21rem;
}

.mainbutton_top {
    background-color: #E7E7E8;
}

.mainbutton, .mainbutton_tabletop {
    margin-top: 16px;
    background-color: #E7E7E8;
}

.mainbutton_tabletop {
    border-radius: 8px 8px 0 0;
    border-bottom: 2px solid #0000000D;
}

.mainbutton_tablebotleft, .mainbutton_tablebotmid, .mainbutton_tablebotright {
    width: 7rem;
    background-color: #E7E7E8;
}

.mainbutton_tablebotleft {
    border-radius: 0 0 0 8px;
    border-right: 2px solid #0000000D;
}

.mainbutton_tablebotmid {
    border-radius: 0;
}

.mainbutton_tablebotright {
    border-radius: 0 0 8px 0;
    border-left: 2px solid #0000000D;
}

.mainbutton_top:hover, .mainbutton:hover, .mainbutton_tabletop:hover, .mainbutton_tablebotleft:hover, .mainbutton_tablebotmid:hover, .mainbutton_tablebotright:hover {
	background-color: #E0E0E0;
}

@media screen and (max-width: 1020px) {
    .section {
        justify-content: center;
        flex-direction: column;
    }
    
    .title {
        text-align: center;
        padding: 0 0 52px 0;
    }
    
    .title h1 {
        font-size: 38pt;
    }
    
    .title p {
        font-size: 15pt;
    }
}

@media screen and (max-width: 650px) {
    .title h1 {
        font-size: 34pt;
    }
    .title p {
        font-size: 14pt;
    }

    .cont, .mainbutton_top, .mainbutton {
        width: 21rem;
    }
}

@media screen and (max-width: 480px) {
    .title h1 {
        font-size: 30pt;
    }
    .title p {
        font-size: 12pt;
    }

    .cont, .mainbutton_top, .mainbutton {
        width: 18rem;
    }
}

@media screen and (max-width: 420px) {
    .title h1 {
        font-size: 26pt;
    }
    .title p {
        font-size: 11pt;
    }

    .cont, .mainbutton_top, .mainbutton {
        width: 16rem;
    }
}