<!DOCTYPE HTML>
<html class="" lang="ko">
  {% include head.html %}
<style>
  .Guide {
      background-color: var(--Tertiary);
      opacity: var(--opacity-100) !important;
      font-feature-settings: "ss09" on;
  }

  .Guide-tab {
      opacity: var(--opacity-100) !important;
      font-feature-settings: "ss09" on;
  }

  .Guide-header {
      opacity: 1 !important;
  }

  .sidebar-search {
      display: flex !important;
  }

  .search-in-wrap {
      display: flex !important;
  }
</style>
<body>
  {% include Search_wrap.html %}
  {% include Header_guide.html %}
  {% include SideBar_guide.html %}
  {% include TabBar_guide.html %}
  {{ content }}
</body>
  {% include js.html %}
</html>
