---
layout: default
---
{% assign counter = 1 %}
{% for category in site.categories %}
  <a href="/{{ category[0] }}"><h1 class="categoryTitle">{{ category[0] }}</h1></a>
  <!-- <hr class="postHr" /> -->
  <ul class="postsList">
    {% assign products = category[1] | sort: 'title' %}
    {% for post in products %}
      <a href="{{ site.baseurl }}{{ post.url }}"><li>#{{counter}} &nbsp;&nbsp; {{ post.date | date: "%y%m%d" }} &gt; {{ post.categories }} &gt; {{ post.author }} &gt; {{ post.title }}</li></a>
      {% assign counter=counter | plus:1 %}
    {% endfor %}
  </ul>
  <hr class="tempHR" />
{% endfor %}
