footer {
    background-color: var(--bs-footer-bg);
    --margin-foot-item: 24px;
    padding-top: 48px;
    padding-bottom: 48px;
    transition: all .1s ease-in-out;
}

footer .footer-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu li {
    margin-right: var(--margin-foot-item);
}

.footer-menu .footer-item {
    opacity: .6;
    font-size: 9pt;
    font-weight: 400;
}

.footer-menu .footer-item:hover {
    opacity: .7;
}

.footer-menu li:last-child {
    margin-bottom: 0;
}

.footer-item strong {
    font-weight: 600;
}

footer .footer-copy {
    margin-top: 16px;

}

.footer-copy p {
    color: var(--bs-body-color);
    opacity: .6;
    font-size: 9pt;
    font-weight: 400;
    letter-spacing: var(--bs-small-letter-spacing);
    margin-bottom: 0;
}

@media (max-width: 1023.98px) {
    footer {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    footer .footer-menu {
        flex-direction: column;
    }

    .footer-menu .footer-item {
        font-size: 11pt;
    }

    .footer-menu li {
        margin-bottom: var(--margin-foot-item);
    }

    footer .footer-copy {
        margin-top: 60px;
    }
}