.tab-policy {
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
    padding: 0;
}

.tab-policy li a {
    background-color: var(--bs-btn2-bg);
    color: var(--bs-body-color);
    border-radius: 8px;
    margin-right: 8px;
    font-size: .8rem;
    padding: 8px;
    text-align: center;
    line-height: 1;
}

.tab-policy li a:hover {
    background-color: var(--bs-btn2-hover-bg);
}

.tab-policy li.on a {
    background-color: var(--bs-btn2-hover-bg) ;
}

.title-policy {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.subject-policy {
    font-size: 1.2rem;
    display: block;
    margin-top: 2.6rem;
    margin-bottom: 1.4rem;
}

.description-policy {
    margin-top: 18px;
    line-height: 1.8;
}

.list-first-depth-policy {
    margin-left: -.85rem;
    list-style: none;
}

.list-first-depth-policy li {
    margin-top: .8rem;
    line-height: 1.6;
}

.list-first-depth-policy ul {
    margin-left: 0;
}

.list-first-depth-policy .list-number-policy {
    margin: 0 0 0 -1.1rem;
}

.list-second-depth-policy {
    opacity: .8;
    margin-top: .8rem;
    font-size: .95rem;
    font-weight: 350;
    list-style: none;
    line-height: 1.8;
    letter-spacing: 0.2pt;
}

.list-second-depth-policy li {
    margin-top: .5rem;
    margin-left: -.6rem;
}

.list-second-depth-policy .list-number-policy {
    margin: 0 4px 0 -18px;
}