@charset "UTF-8";
@import url(https://fonts.googleapis.com/earlyaccess/nanumgothic.css);

*, *:before, *:after {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after { clear: both; }

body {
  font-family: "Nanum Gothic", sans-serif;
  color: #212121;
  background: #212121;
  font-size: 16px;
}

a {
  color: #212121;
}

#box {
  margin: 20px auto;
  padding: 40px;
  width: 1200px;
  background: #fefefe;
}

#box h1,
#box h3 {
  text-align: center;
  padding: 6px;
}

#box h1 input {
  border: 0px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  font-family: "Nanum Gothic", sans-serif;
}

#box ul {
  width: 600px;
  margin: 20px auto;
}


#box ul li {
  margin:8px 0;
}

#box table {
  width: 1000px;
  margin: 20px auto;
  border-collapse: collapse;
  border: 0;
  border-radius: 8px;
}

#box td {
  padding: 10px 30px;
  font-size: 18px;
}

#box td input {
  background-color: rgb(255, 255, 255, 0);
  border: 0px;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
  font-weight: bold;
}

#box tr {
  background: #fafafa;
}

#box tr:nth-child(even) {
  background: #f2f2f2;
}

#box button {
  padding: 12px;
  font-size: 18px;
  text-align:center;
  border:0;
  color: #fff;
  transition: 0.5s;
  cursor: pointer;
}

#btnFucn {
  width: 100px;
  background: #009688;
}

#btn {
  width: 100%;
  background: #2196F3;
}

#box button:hover {
  background: #FFC107;
}

#box button:focus {
  background: #FF1744;
}

#box ol {
  margin: 10px 30px;
}

#box ol li {
  margin: 6px 0;
}
